
@font-face {
  font-family: 'Candara';
  src: url('Candara.eot?#iefix') format('embedded-opentype'),
       url('Candara.woff') format('woff'),
       url('Candara.ttf') format('truetype'),
       url('Candara.svg#Candara') format('svg');
  font-weight: normal;
  font-style: normal;
}
