<style>
    .import_object_error {
        color: red;
    }
</style>
<h3>Результаты импорта</h3>

<div class="table-responsive">
    <table style="width:auto" class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
{row}
            <tr>                
                <td>{id}</td>
                <td>{title}</td>
                <td>{result}</td>
            </tr>
{/row}
        </tbody>
    </table>
</div>

