 <table class="table">
<tr>
    <th>ID акции</th>
    <th>Название</th>
    <th>Активна/архив</th>
    <th>Дата старта</th>
    <th>Дата финиша</th>
    <th>Зарегистрировано участников</th>
    <th>Участников активно</th>
    <th>Заказывают подарки</th>
    <th>Зарегистрировано договоров</th>
    <th>Подписанная премия</th>
    <th>Активировано баллов</th>
    <th>Использовано баллов по акции</th>
</tr>

{row}
    <tr>
        <td>{0}</td>
        <td>{1}</td>
        <td>{2}</td>
        <td>{3}</td>
        <td>{4}</td>
        <td>{5}</td>
        <td>{6}</td>
        <td>{7}</td>
        <td>{8}</td>
        <td>{9}</td>
        <td>{10}</td>
        <td>{11}</td>
    </tr>
{/row}

 </table>