<table class="table"><tr>
    <th>ID участника</th>
    <th>Дата регистрации </th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>ID партнера</th>
    <th>Партнер</th>
    <th>Категория</th>
    <th>Город</th>
    <th>Количество договоров</th>
    <th>Набрано баллов с момента регистрации</th>
    <th>Из них подарочных</th>
    <th>Потрачено баллов с момента регистрации</th>
    <th>Активно баллов на данный момент</th>
    <th>Начислено баллов по месяцам</th>
    <th>Использовано баллов – по месяцам</th>
    <th>Факт выполнения на данный месяц партнером плана продаж</th>
</tr>

</table>