<table class="table">
<tr>
    <th>ID отделения</th>
    <th>Название</th>
    <th>Отделение</th>
    <th>Дата регистрации первого участника</th>
    <th>Всего зарегистрировано участников</th>
    <th>Подключено к текущим акциям</th>
    <th>Регистрируют продажи</th>
    <th>Заказывают призы</th>
    <th>Всего активных баллов</th>
    <th>Из них подарочных</th>
    <th>Всего полисов</th>
    <th>Категория</th>
    <th>город</th>
    <th>ID акций, в которых участвовал</th>
</tr>

</table>