<table class="table">
<tr>
    <th>Номер заказа</th>
    <th>Дата заказа</th>
    <th>Город</th>
    <th>ID участника</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>ID партнера</th>
    <th>Партнер</th>
    <th>Название приза</th>
    <th>Номинал приза</th>
    <th>Стоимость в баллах</th>
    <th>Статус</th>
    <th>Активные баллы на данный месяц у участника</th>
    <th>Израсходованные баллы на данный месяц у участника</th>
    <th>Факт выполнения на данный месяц партнером плана продаж<th>
</tr>

</table>