<table class="table">
<tr>
    <th>№ полиса</th>
    <th>Дата полиса</th>
    <th>ID участника</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Страхователь</th>
    <th>Подписанная премия, руб.</th>
    <th>Активные баллы участника</th>
    <th>Активные баллыаллы руководителя</th>
    <th>ID партнера</th>
    <th>Отделение</th>
    <th>Статус полиса</th>
</tr>

{row}
    <tr>
        <td>{0}</td>
        <td>{1}</td>
        <td>{2}</td>
        <td>{3}</td>
        <td>{4}</td>
        <td>{5}</td>
        <td>{6}</td>
        <td>{7}</td>
        <td>{8}</td>
        <td>{9}</td>
        <td>{10}</td>
        <td>{11}</td>
        <td>{12}</td>
    </tr>
{/row}

</table>