<table class="table table-hover table-condensed table-striped">

<tr>
    <th>ID</th>
    <th>Дата рег.</th>
    <th style="width:100%;">ФИО</th>
    <th>Дата&nbsp;рождения</th>
    <th>Город</th>
    <th>Статус</th>
    <th>Продажи</th>
    <th>Призы</th>
</tr>

{row}
    <tr>
        <td>{id}</td>
        <td nowrap>{createdString}</td>
        <td>{title} {name} {sname}</td>
        <td>{birthdayString}</td>
        <td nowrap>{city}</td>
        <td nowrap>{statusName}</td>
        <td>{linksale}</td>
        <td>{linkprizes}</td>
    </tr>
{/row}

</table>