
<table class="table table-striped table-condensed table-hover">

   <thead>
        <th class="thFirst">Номер заказа</th>
        <th>Наименование</th>
        <th>Дата</th>
        <th>Номинал</th>
        <th>Потрачено</th>
        <th class="shopStatus">Статус</th>
        {controlTH}
    </thead>

{row}
    <tr>
        <td class="tdFirst">{number}</td>
        <td>{title}</td>
        <td>{dateString}</td>
        <td>{nominal}</td>
        <td>{price}</td>
        <td class="shopStatus">{statusName}</td>
        {controlTD}
    </tr>
{/row}

</table>
