<table class="table table-hover table-condensed table-striped">

<tr>
    <th>Дата регистрации</th>
    <th>№ полиса</th>
    <th>Страхователь</th>
    <th>Дата договора</th>
    <th>Подписанная премия</th>
    <th>Отделение</th>
    <th>Стоимость балла</th>
    <th>Порог</th>
    <th>Баллы</th>
    <th>Активные баллы</th>
    <th>Доступность баллов</th>
    <th>Статус</th>
    <th>Комментарий</th>
    <th><i class="icon-remove"></i></th>
</tr>

{row}
    <tr>
        <td>{createdString}</td>
        <td>{number}</td>
        <td>{title}</td>
        <td>{dateString}</td>
        <td>{summa}</td>
        <td>{department}</td>
        <td>{percent}</td>
        <td>{porog}</td>
        <td>{balls}</td>
        <td>{activeballs}</td>
        <td>{ballsexpiredString}</td>
        <td>{statusName}</td>
        <td>{comment_mark}</td>
        <td>{remove}</td>
    </tr>
{/row}

</table>

