<form action="" method="post" enctype="multipart/form-data" class="form-horizontal" id="import_objects_form">
<input type="hidden" name="importsubmit" value="1">

    <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">Категория <span style="color:red;">*</span> :</label>
        <div class="col-sm-10">
            <select class="form-control" id="category_id" name="category_id">
                <option value="">-- выберите категорию --</option>
                {category_options}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="file" class="col-sm-2 control-label">Выберите Excel файл <span style="color:red;">*</span> :</label>
        <div class="col-sm-10">
            <input type="file" id="file" name="file" accept=".xlsx">
        </div>
    </div>

    <div class="buttonFormGroup">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Загрузить</button>
            </div>
        </div>
    </div>
</form>

{import_results}