<div class="action_menu">
<ul class="nav nav-tabs" style="margin-bottom:20px;">
    <li role="presentation">
        <a href="{%modulPath%}"><i class="icon-list"></i>&nbsp;Список</a>
    </li>
    <li role="presentation" {indexactive}>
        <a href="{%elemPath%}"><i class="icon-info-sign"></i>&nbsp;Элемент</a>
    </li>
    <li role="presentation" {editactive}>
        <a href="{%elemPath%}edit/" {onlyReadAccess}><i class="icon-pencil"></i>&nbsp;Редактирование</a>
    </li>
    <li role="presentation" {deleteactive}>
        <a href="{%elemPath%}delete/" {onlyReadAccess}><i class="icon-remove"></i>&nbsp;Удаление</a>
    </li>
    <!--
    <li role="presentation"><a href="#" onClick="javascript: return false;" style="text-decoration:line-through;">Экспорт</a></li>
    <li role="presentation"><a href="#" onClick="javascript: return false;" style="text-decoration:line-through;">Импорт</a></li>
    -->
    <!-- li style="float:right;">
        <select style="margin-top:5px;">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>Все</option>
        </select>
        </a>
    </li -->
    <!-- li style="float:right;"><a href="">фильтр</a></li -->
    
    <!-- li class="dropdown" style="float:right;">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">text<b class="caret"></b></a>
        <ul class="dropdown-menu" style="left:auto; right:0;">
            <li><a href="#">Item1</a></li>
            <li><a href="#">Item2</a></li>
            <li><a href="#">Item3</a></li>
        </ul>
    </li -->

</ul>
</div>