<script>
function openMultiDialog(table,field)
{
    /*
    $.ajax
    (
        {
            url:'/control/_getlist',
            method: 'post',
            dataType: 'json',
            data: {"table":table, "field":field},
            success:function(resp){
                        console.log(resp);
                    },
            error: function(jqXHR, textStatus, errorThrown){
                        console.log('error');
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
        }
    );
    */
    
    $("button#acceptbtn").unbind();
    $("button#acceptbtn").click(function(){
    
        var ids = "";
        var names = "";
        $("input.checkbox_"+table).each(function(){
            if ($(this).prop("checked"))
            {
                if (ids!="") { ids += ","; } ids += $(this).attr("value");
                if (names!="") { names += ", "; } names += $(this).attr("name");
            }
        });
        
        if (ids != "")
        {
            $("#" + field).val(ids);
            $("#" + field + "_text").html(names);
        }
    
        $("#multidialog").modal('hide');
        return false;
    });
    
    var vals = $("#" + field).val();
    $("#multidialog div.modal-body").load('/control/_getlist',{ table:table, field:field, vals:vals },function(){
        $("#multidialog h4.modal-title").html("Выберите");
        $("#multidialog").modal();
    });
}
</script>

<div class="modal fade" id="multidialog" tabindex="-1" role="dialog" aria-labelledby="myModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="max-height:300px;overflow-y:scroll;">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="acceptbtn">применить</button>
            </div>
        </div>
    </div>
</div>