<div class="action_menu">
<ul class="nav nav-tabs" style="margin-bottom:20px;">
    <li role="presentation" {%modulReturnStyle%}>
        <a href="{%modulReturnPath%}"><i class="icon-reply"></i>&nbsp;Вернуться</a>
    </li>
    <li role="presentation" {indexactive}>
        <a href="{%modulPath%}"><i class="icon-list"></i>&nbsp;Список</a>
    </li>
    <li role="presentation" {addactive}>
        <a href="{%modulPath%}new/"><i class="icon-plus"></i>&nbsp;Добавить</a>
    </li>
    <li role="presentation" class="refreshBtn">
        <a href="{%modulPath%}clearsort/"><i class="icon-refresh"></i>&nbsp;Сбросить сортировку</a>
    </li>
    {%_exporttable%}
    {%_importtable%}
    <!--
    <li role="presentation"><a href="#" onClick="javascript: return false;" style="text-decoration:line-through;">Экспорт</a></li>
    <li role="presentation"><a href="#" onClick="javascript: return false;" style="text-decoration:line-through;">Импорт</a></li>
    -->
    <li style="float:right;">
        <form action="" method="post" id="changeShowRowsForm">
        <input type="hidden" name="changeShowRows" value="1">
        Выводить по:
        <select name="changeShowRowsValue" style="margin-top:5px;" onChange="javascript: $('#changeShowRowsForm').submit(); ">
            {%_showrows%}
        </select>
        </form>
    </li>
    <li style="float:right;"><a href="#" onClick="javascript: $('#filtrblock').slideToggle('fast'); return false;">фильтр</a></li>
    <!-- li style="float:right;"><a href="#">экспорт данных</a></li -->
    <li style="float:right;"><div style="margin-top:6px;">Всего элементов: {%countelements%}&nbsp;</div></li>
    
    <!-- li class="dropdown" style="float:right;">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">text<b class="caret"></b></a>
        <ul class="dropdown-menu" style="left:auto; right:0;">
            <li><a href="#">Item1</a></li>
            <li><a href="#">Item2</a></li>
            <li><a href="#">Item3</a></li>
        </ul>
    </li -->
    
    {addtabs}

</ul>
</div>