.s-label label {
    font-weight: normal;
}

.s-label .s-off {
    font-size: 14px;
    color: white; /*#86c048;*/
    margin-right: 1px;
}

.s-label .s-on {
    font-size: 14px;
    color: white; /*#86c048;*/
}

#megaform .s-label .s-off {
    font-size: 14px;
    color: navy; /*#86c048;*/
    margin-right: 1px;
}

#megaform .s-label .s-on {
    font-size: 14px;
    color: navy; /*#86c048;*/
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
/*.s-checkbox {*/
    /*vertical-align: top;*/
    /*margin: 0 3px 0 0;*/
    /*width: 17px;*/
    /*height: 17px;*/
/*}*/
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.s-checkbox + span.s-label,
.s-checkbox + span.s-label label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.s-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.s-checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}

.s-checkbox:not(checked) + span.s-label .s-off {
    display: inline;
}
.s-checkbox:not(checked) + span.s-label .s-on {
    display: none;
}


.s-checkbox:checked + .s-label .s-off {
    display: none;
}
.s-checkbox:checked + .s-label .s-on {
    display: inline;
}


.checkboxes_row {
    background-image: url(../images/opacity30.png);
    padding: 10px 15px 0;
    /* margin: 0 auto 20px auto; */
    border-radius: 15px;
}

.checkboxes_row .form-group {
    margin-bottom: 0;
}




.checkbox-item {
    white-space: nowrap;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}