@font-face {
    font-family: 'Candara';
    src: url('../fonts/Candara/Candara.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Candara/Candara.woff') format('woff'),
    url('../fonts/Candara/Candara.ttf') format('truetype'),
    url('../fonts/Candara/Candara.svg#Candara') format('svg');
    font-weight: normal;
    font-style: normal;
}
