
/* footer */
.footer {
    height: 310px;
    padding-top: 30px;
}

.footer .dmenu a{
    text-decoration: none;
    color: #6e6e6e;
    font-size: 12px;
}

.footer .dmenu a:hover{
    text-decoration: underline;
}

.footer .footer_item {
    padding-top: 25px;
    height: 250px;
    border-right: 1px solid #8c8c8c;
}

.footer .footer_item:last-child {
    border:0;
}

.footer ul.footer_menu2 {
    padding: 0;
    margin: 0 0 25px 0;
    list-style: none;
}

.footer ul.footer_menu2 li a {
    color: #6e6e6e;
}
.footer ul.footer_menu2 li {
    background-repeat: no-repeat;
    height: 28px;
    padding-top: 5px;
    padding-left: 30px;
    margin-bottom: 7px;
}

.footer ul.footer_menu2 li.user_agree{
    background-image: url(../images/user_agree.png);

}

.footer ul.footer_menu2 li.mobile_version{
    background-image: url(../images/mobile_version.png);

}

.footer input {
    text-align:center;
}

.footer .bordering {
    border: 1px solid #8c8c8c;
    border-radius: 15px;
    padding: 20px 10px;
    height: 40px;
    color: #8c8c8c;
    margin-bottom: 10px;
}

.footer button.bordering {
    padding: 10px;
    color: #3e3e3e;
    font-weight:bold;
}

.footer .footer_soc {
    text-align: center;
    margin-bottom: 30px;
}

.footer .footer_phone {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.footer .footer_mail {
    text-align: center;
    text-transform: uppercase;
}

.footer .footer_mail a {
    font-size: 20px;
    color: #6e6e6e;
}

@media (max-width: 991px) {
.footer .footer_item {
    border-right: none;
}
}