.news_rows {
    /* width: 25%; */
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

#news {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 0 -100px 0;
    top: -130px;
}

li.news__item {
    width: 100%;
}
li.news__item:nth-child(odd) { }

.news__div {
    padding: 0px;
    background-color: white;
    margin-bottom: 20px;
}

.news__href {
    color: #4a4a4a;
}

.news__img {
    width: 100%;
    max-height: 292px;
    overflow: hidden;
    object-fit: cover;
}

.news__material {
    font-size: 12px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid white;
    padding: 6px 11px;
    color: white;
    position: relative;
    margin-top: -50px;
    margin-left: 13px;
    float: left;
    background: #ccccccbd;
    text-shadow: 0 1px 3px #6d6969;
}

.news__link {
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
    margin-top: 13px;
}

.news__anonce {
    font-size: 13px;
    color: #4a4a4a;
    margin-top: 7px;
    padding: 10px 20px;
}

.news__date {
    font-size: 10px;
    margin: 20px 0 10px 20px;
}

.news__title {
    text-transform: uppercase;
    padding: 0 20px;
}

.news__next {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    color: #6e6e6e;
    padding: 10px 20px;
}
.rek__material {
    font-size: 12px;
    font-style: italic;
    border-radius: 15px;
    /* border: 1px solid white; */
    padding: 10px 15px;
    color: white;
    position: relative;
    margin-top: -132px;
    margin-left: -6px;
    float: left;
    background: #ccccccbd;
    text-shadow: 0 1px 3px #6d6969;
}
.review__material {
    font-size: 12px;
    font-style: italic;
    border-radius: 15px;
    /* border: 1px solid white; */
    padding: 10px 17px;
    color: white;
    position: relative;
    margin-top: -132px;
    margin-left: -6px;
    float: left;
    background: #ccccccbd;
    text-shadow: 0 1px 3px #6d6969;
}