.selected-control * {
    font-family: 'Comfortaa', cursive;
}

.selected-control {
    position: relative;
}

.selected-control .text-value {
    background-image: url(../images/opacity50.png);
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid gray;
}

.selected-control .text-value:hover {
    background: #7D9D0B none;
}

.selected-control .text-arrow {
    background: url(../images/dn_arrow_16.png) no-repeat center right;
}

.ul-value {
    position: absolute;
    width: 100%;
    z-index: 999999;
    display: none;
}

.ul-value ul {
    list-style: none;
    margin: 0;
    background-image: url(../images/opacity50.png);
    padding: 20px 0;
    border-radius: 15px;
    background: #000000d6;
}

.ul-value ul li a {
    background: none;
    padding: 5px 15px;
    margin: 0;
    display: block;
    color: white;
    text-decoration: none;
}

.ul-value ul li.list-item-select-active,
.ul-value ul li:hover {
    background-color: #7D9D0B;
}