@import url(checkbox.css);

* {
    font-family: 'Candara', cursive;
}

body {
    /* min-width: 970px; */
    font-size: 16px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clearfix > div {
    overflow: inherit !important;
}
option {
    color: black;
}

#main-container {
    width: 100%;
    padding: 0;
}

.btn_blackself {
    background-color: #292929;
    border: 1px solid silver;
    border-radius: 15px;
    height: 39px;
    color: white;
    font-size: 16px;
}
.btn_blackself:hover {
    background-color: #999999;
    color: white;
}
/*
.btn_self {
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    height: 50px;
    color: black;
    font-size: 12px;
}
*/
.btn_self {
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    /* height: 50px; */
    color: black;
    font-size: 12px;
}
div.recom {
    background: transparent;
    border: 1px solid #8c8c8c;
    border-radius: 15px;
    padding: 5px 10px;
    color: #8c8c8c;
    font-size: 12px;
    width: 94px;
}

.btn_recom:hover {
    border-color: #7d9d0a;
    background-color: #7d9d0a;
    color: white;
}

/*
a.btn_self {
    background: transparent;
    border: 1px solid black;
    border-radius: 15px;
    height: 47px;
    color: black;
    font-size: 12px;
}
*/
a.btn_self {
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    /* height: 47px; */
    color: black;
    font-size: 12px;
    margin-bottom: 15px;
}

.btn_self:hover {
    border-color: #7d9d0a;
    background-color: #7d9d0a;
    color: white;
}

/* video_bg */
#video_bg {
    height: 472px;
    overflow: hidden;
}


/* simple_block */
#simple_block {
    height: 472px;
    overflow: hidden;
    position: relative;
    margin-top: -472px;
}


/* SLIDER */
#slider {
    height: 595px;
    position: relative;
    /*overflow: hidden;*/
    transition: background 1s;
    background-size: cover;
    background-position: center center;
}


/* shapka */
#shapka  * {
    font-family: 'Comfortaa', cursive;
}

#shapka {
    height: 113px;
    padding: 15px 10px;
    background-image: url(../images/opacity30.png);
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#shapka .shapka__logo {
    width: 234px;
    height: 83px;
    display: block;
    float: left;
}
#shapka .shapka__logo img {
    width: 234px;
    height: 83px;
}

#shapka .shapka__content {
    padding-left: 270px;
}

#shapka .shapka__content-up {
    height: 66px;
}


#shapka .shapka__title {
    float: left;
    font-size: 38px;
    color: white;
    padding-top: 3px;
    /*text-transform: uppercase;*/
}
#shapka .shapka__socicons-small {
    text-align: center;
    padding: 5px 10px;
    float:right;
}
#shapka .shapka__phone {
    float:right;
    margin-top: 8px;
    margin-right: 20px;
    color: white;
    font-size: 30px;
}

/* menu */
#menu {
    margin-left: 0px;
    margin-right: 0px;
}

#menu ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline-block;
    border-left: 1px solid;
    line-height: 18px;
    color: #fff;
}
#menu ul li:first-child {
    border-left: none;
}

#menu ul a {
    color: white;
    text-decoration: none;
    padding: 0 10.8px;
    display: block;
    font-size: 18px;
}
#menu ul a:hover {
    background-image: url(../images/opacity50.png);
    text-decoration: underline;
}

/*****************************************/
@media (max-width: 1919px) { /* выполняется при строго < 1920 */
    #menu ul a {
        padding: 0px 8.4px;
        font-size: 16px;
    }
}

@media (max-width: 1705px) { /* выполняется при строго < 1706 */
    #menu ul a {
        padding: 0px 7px;
        font-size: 16px;
    }
}

@media (max-width: 1589px) { /* выполняется при строго < 1590 */
    #menu ul a {
        padding: 0px 6px;
        font-size: 16px;
    }
}

@media (max-width: 1421px) { /* выполняется при строго < 1422 */
    #menu ul a {
        padding: 0px 3.5px;
        font-size: 16px;
    }
    #shapka .shapka__title {
        font-size: 30px;
        padding-top: 3px;
    }
    #shapka .shapka__phone {
        font-size: 26px;
    }
}
/*****************************************/
/*1600*/
/*1422*/
/*1280*/



@media (max-width: 1276px) {
    #shapka .shapka__content-up {
        height: 47px;
    }
    #shapka {
        /*height: 130px;*/
    }
}
@media (max-width: 1165px) {
    #shapka .shapka__title {
        font-size: 26px;
    }
    #shapka {
        height: 130px;
    }
}
@media (max-width: 1092px) {
    #shapka .shapka__phone {
        margin: 20px 0 0 20px;
    }
}

@media (max-width: 1041px) {
    #shapka {
        height: 130px;
    }
}












input { outline: 0 !important; }

/* SEARCH FORM */
#search_form-block {
    height: 595px;
}

#search_form * {
    font-size: 16px;
}

#search_form h1, #search_form h2 {
    color: white !important;
    text-align: center;
    font-size: 60px !important;
    margin-top: 68px;
    font-family: 'Comfortaa', cursive;
}

#search_form select,
#search_form label {
    font-family: 'Comfortaa', cursive;
}

#search_form input {
    text-align: center;
}

#search_form input,
#search_form select,
#search_form button,
#search_form a.as-button{
    border: 0px solid silver;
    border-radius: 15px;
    background: transparent;
    background-image: url(../images/opacity50.png);
    padding: 20px 10px;
    color: #cddbde;
    height: 40px;
    margin-top: 35px;
}

#search_form a.as-button,
#search_form button {
    padding: 10px;
}

#search_form select {
    padding: 0 10px;
}

#search_form .search-input-element {
    float: left;
    width: 90%;
    overflow: hidden;
}

#search_form .search-input-element input::placeholder               { color: #cddbde; }
#search_form .search-input-element input::-webkit-input-placeholder { color: #cddbde; }
#search_form .search-input-element input::-moz-placeholder          { color: #cddbde; }
#search_form .search-input-element input:-moz-placeholder           { color: #cddbde; }
#search_form .search-input-element input:-ms-input-placeholder      { color: #cddbde; }

.search-input-block {
    margin-bottom: 15px;
}
.search-button-block{
}
#search_form .search-input-element input{
    border-radius: 20px 0 0 20px;
    border-right: 0;
    height: 42px;
}
#search_form .search-button-element{
    border-radius: 0 20px 20px 0;
    width: 10%;
    float:right;
    height: 42px;
    border-left: 0;
    padding: 0;
}
#search_form .main-left-button {
    width: 48%;
    float: left;
}
#search_form .main-right-button {
    width: 48%;
    float: right;
}



#search_form label {
    color: white;
    margin-bottom: 13px;
}
.main_search_form {
    /* position: absolute; */
    /* padding: 0; */
    /* margin: 0; */
    /* width: 800px; */
    /* height: 140px; */
    /* top: 50%; */
    /* left: 50%; */
    margin-top: -500px;
    z-index: 200;
    /* margin-left: -400px; */
}
.modal.in .modal-dialog {
    z-index: 300;
}


/* fmenu */
#fmenu ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

#fmenu ul a {
    color: white;
}



/* scontrol */
#scontrol {
    text-align: right;
    padding: 19px 5px 29px 0;
    display: none;
}
#scontrol a {
    text-transform: uppercase;
    color: #9b9b9b;
    margin-left: 20px;
}

#scontrol a.sactive {
    color: #86c048;
}




/* pagination */
#pagination {
    padding: 30px 4px;
    text-align: right;
}

#pagination a {
    color: #9b9b9b;
    margin-left: 10px;
}

#pagination a.pactive {
    color: #86c048;
    text-decoration: underline;
}




/* DETAIL INFO */
#detail-info {
    margin-top:13px;
    height: 527px;
    background-size: cover;
    overflow: hidden;
    padding: 20px 30px;
    transition: background 1s;
    position: relative;
}

#detail-info h1.detail-title {
    color: white;
}

#detail-info .detail-rating {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

#detail-info .detail-rating span {
    margin: 0 15px 0 5px;
}

a.detail-show-img-gallery {
    border: 2px solid white;
    display: inline-block;
}

a.detail-show-img-gallery.active {
    border: 2px solid #86c048;
}

#detail-info a.slide_nav_next,
#detail-info a.slide_nav_prev {
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -22px;
}

#detail-info a.slide_nav_next { right: 20px; }
#detail-info a.slide_nav_prev { left: 20px; }

#detail-info a:hover.slide_nav_next,
#detail-info a:hover.slide_nav_prev {
    opacity: .5;
}




.table {
    margin-bottom: 0;
}

.table th,
.table th a
{
    text-decoration: none;
    vertical-align: middle !important;
    color: #4a4a4a !important;
}

.table tr.level1 {
    background-color: white;
}

.table tr.level1:nth-child(odd) {
    background-color: #f0f7e9;
}










/* MODAL */
.modal-title {
    text-align: center;
}

.modal-header {
    border: 0;
}

.modal-content {
    background-color: #f1f1f1;
}







/* ORDER FORM */
.common_form_elements {
    display: none;
}

.hotels_form_element {
    display: none;
}

.restaurants_form_element {
    display: none;
}

.transports_form_element {
    display: none;
}

.activitysummer_form_element {
    display: none;
}

.activitywinter_form_element {
    display: none;
}

.activitychildren_form_element {
    display: none;
}

.beauties_form_element {
    display: none;
}

.services_form_element {
    display: none;
}


/* IMG PROPORTION */
    #detail-gallery img {
    vertical-align: middle;
    max-height: 200px;
    margin: 0;
    overflow: hidden;
    object-fit: cover;
}
.clearfix > div {
    overflow: inherit !important;
    /* max-width: 356px !important; */
}
/*table#objTable,*/
/*table#objTable2 {*/
    /*border-radius: 15px;*/
/*}*/

/*table#objTable td,*/
/*table#objTable2 td {*/
    /*vertical-align: top;*/
/*}*/

/*#objTable3 {*/
    /*border-radius: 15px;*/
/*}*/

/*table#objTable2 {*/
    /*display: none;*/
/*}*/



table#objTable {
    font-size: 16px;
    background-color: white;
}
table#objTable tr td {
    vertical-align: top;

}
table#objTable tr.thead td a {
    color: #6e6e6e;
}


/*table#objTable tr.even_class td {
    /* background-color: #eaf2cf; */
/*    background-color: #d7edf8;
}*/
/*table#objTable tr.odd_class td {
    background-color: #dbe9ab;
    background-color: #e8f5fb;
}*/
table#objTable tr.even_class {
    /* background-color: #eaf2cf; */
    background-color: #d7edf8;
}
table#objTable tr.odd_class {
    background-color: #dbe9ab;
    background-color: #e8f5fb;
}



td.title2 {
    width: 100%;
    /*white-space: nowrap;*/
    overflow: hidden;
}

td.title2,
td.title2 a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 22px;
}

td.add-info {
    text-align: right;
    white-space:nowrap;
    padding-left: 8px;
    padding-right: 8px;
}

td.title2 a:hover {
    color: #337AB7;
}

td.rating2 {
    color: #86c048;
    font-size: 16px;
}

td.prices2 {
    padding: 15px;
    vertical-align: top;
    font-size: 14px;
}

td.prices2 p span {
    font-size: 16px;
    font-weight: bold;
}

td.address2 {
    padding: 7px 0;
}

.site2 {
    padding: 10px 0 7px 0;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.short2 div.txt {
    padding-bottom: 10px;
}

td.basket_td {
    text-align: center;
    vertical-align: middle;
}





a.thsort {
    white-space: nowrap;
}


/* LETO */
/* LETO */

table.table-ski-pass-leto {
    width: 100%;
    background-color: white;
}

table.table-ski-pass-leto td {
    text-align: center;
    background-color: #f0f5db;
}

table.table-ski-pass-leto th,
table.table-ski-pass-leto td {
    text-align: center;
}

table.table-ski-pass-leto td {
    text-align: center;
    background-color: #f0f5db;
    padding: 30px 0;
}

table.table-ski-pass-leto tr:nth-child(odd) td {
    text-align: center;
    background-color: #dbe9ab;
}

/* ZIMA */
/* ZIMA */

table.table-ski-pass-zima {
    width: 100%;
    background-color: white;
}

table.table-ski-pass-zima td {
    text-align: center;
    background-color: #f0f5db;
}

table.table-ski-pass-zima th,
table.table-ski-pass-zima td {
    text-align: center;
}

table.table-ski-pass-zima td {
    text-align: center;
    background-color: #f5fbfd;
    padding: 30px 0;
}

table.table-ski-pass-zima tr:nth-child(odd) td {
    text-align: center;
    background-color: #e1f3fa;
}

table.table_about {
    background-color: white;
}
table.table_about tr td:first-child {
    padding-left: 30px;
}

h2 {
    font-size: 26px;
    color: #6e6e6e;
}

h3 {
    font-size: 20px;
    color: #6e6e6e;
}

h1.page_title, h2.page_title {
    color: white !important;
    text-align: center;
    margin-top: 160px;
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
}



/* TABLE ITEMS */
.ti_cover {
    padding: 3px 10px 3px 6px;
    vertical-align: top;
}
.ti_image_bg {
    width:180px;
    height:180px;
    background-size:cover;
}
.ti_title_div {
    padding: 7px 0;
}
.ti_title {
    font-size:16px;
    color: #6e6e6e;
    font-weight: bold;
}
.ti_short {
    text-align: justify;
    vertical-align: top;
    /* padding: 0 10px; */
}
.basket_td, .ti_p10 {
    padding: 0 10px;
}
.ti_site_cute {
    width: 150px;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
/* TABLE ITEMS */



.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 0;
}




/*****************************************************************/
/* Non-responsive */
.container {
    /*width: 970px;*/
    max-width: none !important;
}
/*****************************************************************/


/*********************************** VIDEO STYLES ****************************************/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 595px !important;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background: #000; */
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.4); */
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*********************************** end of VIDEO STYLES ****************************************/


/*********************************** HEADER ADAPTIVE ****************************************/

.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar-nav>li:last-child>a {
    border-bottom: none !important;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
#menu ul a {
    color: white;
    text-decoration: none;
    padding: 0 10.8px;
    display: block;
    font-size: 18px;
    text-shadow: 0 1px 3px #6d6969;
}
.col-lg-2 {
    width: 16.66666667% !important;
}
.navbar.navbar-mobile {
    display: none;
    background: #b3b3b3;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px !important;
    /* font-size: 18px; */
    /* line-height: 20px; */
}
.navbar-mobile .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #efefef;
}
.btn_more {
    max-width: 253px;
    margin: auto;
}
#scroller:before {
    content: '\f106';
    font-family: fontawesome;
    vertical-align: top;
}
#scroller {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgba(0,0,0,0.3);
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: block;
    z-index: 100;
    font-size: 26px;
    color: #fff;
    line-height: 44px;
    border-radius: 5px;
    text-align: center;
    transform: translate3d(0,0,0);
}
#scroller:hover {
    background: #96d7f1d1;
}
a:focus, a:hover {
    color: #12cef7;
    text-decoration: underline;
}
@media (max-width: 1589px) {
#menu ul a {
    padding: 0px 3.5px;
    font-size: 16px !important;
}
}
@media (max-width: 1421px) {
#shapka .shapka__title {
    font-size: 30px;
    padding-top: 3px;
}
}
@media (max-width: 1421px) {
#shapka .shapka__phone {
    font-size: 20px;
}
}
@media (max-width: 1421px) {
#shapka .shapka__socicons-small {
    padding-top: 6px;
}
}
@media (max-width: 1421px) {
#shapka .shapka__logo img {
    width: 175px;
    height: 62px;
}
}
@media (max-width: 1421px) {
#menu ul a {
    padding: 0px 3.5px;
    font-size: 16px !important;
}
}
@media (max-width: 1275px) {
#shapka .shapka__logo img {
    width: 175px;
    height: 62px;
}
}

@media (max-width: 1275px) {
#menu {
    margin-top: 36px !important;
    text-align: center;
}
}
@media (max-width: 1093px) {
#shapka .shapka__title {
    font-size: 27px;
    padding-top: 0;
    margin-left: -45px;
}
}
@media (max-width: 1093px) {
#shapka .shapka__phone {
    font-size: 18px;
    margin: 10px 15px 0 20px !important;
}
}
@media (max-width: 962px) {
#shapka .shapka__title {
    font-size: 22px;
    padding-top: 10px;
    margin-left: -45px;
}
}
@media (max-width: 862px) {
#shapka .shapka__title {
    display: none;
}
}
@media (max-width: 962px) {
#shapka .shapka__phone {
    font-size: 16px;
    margin: 15px 15px 0 20px !important;
}
}
@media (max-width: 962px) {
#shapka .shapka__socicons-small {
    text-align: center;
    padding-top: 10px;
    float: right;
}
}
/*
@media (max-width: 871px) {
.navbar-collapse.collapse {
    display: none !important;
}
}
*/
@media (max-width: 767px) {
.navbar.navbar-mobile {
    display: block;
}
}
@media (max-width: 767px) {
.navbar-collapse {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
}

@media (max-width: 871px) {
.navbar-toggle {
    display: block;
}
}

@media (min-width: 768px) {
.navbar-header {
    float: none;
}
}
@media (max-width: 768px) {
#search_form h1, #search_form h2 {
    margin-top: 0 !important;
    font-size: 30px !important;
    padding: 15px 0 !important;
}
}
@media (max-width: 768px) {
h1.page_title, h2.page_title {
    color: white !important;
    text-align: center;
    margin-top: 20px !important;
    padding: 25px 10px;
    font-size: 30px !important;
    font-family: 'Comfortaa', cursive;
}
}
@media (max-width: 768px) {
#slider {
    height: 295px !important;
    position: relative;
    /* overflow: hidden; */
    transition: background 1s;
    background-size: cover;
    background-position: center center;
}
}
@media (max-width: 768px) {
.main_search_form {
    /* position: absolute; */
    /* padding: 0; */
    /* margin: 0; */
    /* width: 800px; */
    /* height: 140px; */
    /* top: 50%; */
    /* left: 50%; */
    margin-top: -265px;
    z-index: 200;
    /* margin-left: -400px; */
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 295px !important;
}
.btn_more {
    max-width: 153px;
    margin: auto;
}
}

@media only screen and (max-width: 800px) {
	#objTable .thead {
	    display: none;
	}
	.ti_image_bg {
    width: 100%;
    height: 180px;
    background-size: cover;
    }
    .ti_p10 > div:last-child {
    margin-bottom: 0px !important;
    }
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr {/* border: 1px solid #ccc; */ }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid #eee; */ 
		position: relative;
		/* padding-left: 50%; */ 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
#menu .active {
    background-image: url(../images/opacity50.png);
    text-decoration: underline;
}
.button.big_btn {
    border: 1px solid #12cef7;
    border-radius: 5px;
    padding: 6px 8px;
    text-decoration: none;
    color: #12cef7; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px 0px;
}
.button.big_btn:hover {
    border: 1px solid #12cef7;
    background: #12cef7;
    border-radius: 5px;
    padding: 6px 8px;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 1px 3px #717070; 
}

/*********************************** end of HEADER ADAPTIVE ****************************************/
@media (max-width: 768px) {
.navbar-collapse {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
}
@media (max-width: 768px) {
.table-condensed {
    font-size: 12px;
}
}
@media (max-width: 768px) {
.atention_description {
    font-size: 15px;
}
}
@media (max-width: 768px) {
a.btn_self {
    width: 100%;
}
}
/*
@media (max-width: 768px) {
#scroller {
    position: fixed;
    bottom: 55px;
    right: 3px;
    background: rgba(0,0,0,0.3);
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: block;
    z-index: 100;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    transform: translate3d(0,0,0);
}
}
*/
/******************** ANIMATION ************************/

.atention_description{
    animation-name: atention_description;
    -webkit-animation-name: atention_description;    
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;
 
    visibility: visible !important;         
}
 
@keyframes atention_description {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
 
@-webkit-keyframes atention_description {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}


/********************* BARS ***********************/

.bars {
    font-size: 20px;
    color: #0a6582;
    font-weight: bold;
}
.hr_bars {
    border-top: 1px solid #c3c3c3;
}
.list-unstyled li {
    line-height: 36px;
}
.adress:before {
    float: left;
    margin: 7px 2px 0 0;
    content: " ";
    background: url(/userfiles/_thumb/image/location.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.phone:before {
    float: left;
    margin: 7px 2px 0 0;
    content: " ";
    background: url(/userfiles/_thumb/image/phone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.clock:before {
    float: left;
    margin: 7px 5px 0 0;
    content: " ";
    background: url(/userfiles/_thumb/image/clock.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.dance:before {
    float: left;
    margin: 7px 5px 0 0;
    content: " ";
    background: url(/userfiles/_thumb/image/dance.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.song:before {
    float: left;
    margin: 7px 5px 0 0;
    content: " ";
    background: url(/userfiles/_thumb/image/monotone_microphone_record.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

/********************* end of BARS ***********************/
