
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="pos">#</th>
            <th>Наименование</th>
            <th class="status">Статус</th>
            <th class="elemControl"><i class="icon-pencil"></i></th>
        </tr>
    </thead>
    <tbody>
    {row}
        <tr>
            <td>{pos}</td>
            <td>{title}</td>
            <td><a href="">{statusName}</a></td>
            <td class="elemControl"><a href="{%modulPath%}edit/{id}/"><i class="icon-pencil"></i></a></td>
        </tr>
    
    {/row}
    </tbody>
</table>