<div class="shopGiftsBlock">
<div class="shopGiftsBlock mainShadow" style="clear:both;"></div>
<h1>Подарочные электронные сертификаты</h1>

 

<form action="#errorblock" method="post">
<input type="hidden" name="shopsubmit" value="1">
<input type="hidden" name="goods_id" id="goods_id" value="0">

{row}
<div class="present" >
    <div class="pItem" >
        <h2>{title}</h2>
        <a href="#good_{id}" class="open_modal"><img src="/userfiles/moduls/shop/image/{image}"></a>
        <p>{short}</p>
    </div>
</div>

<div id="good_{id}" class="modal_div goods">
    <span class="modal_close">X</span>
    <div class="newEventForm goodsbody">
        <h2 class="modalForm">{title}</h2>
        <img src="/userfiles/moduls/shop/image/{image}" style="width:30%;float:left;margin-right:15px;">
        {descr}
        <div style="clear:both;"></div>
        {nominals}
    </div>
</div>

{/row}

</form>

</div>
<div class="shopGiftsBlock mainShadow" style="clear:both;"></div>