<h1 class="text_h1">Мои подарки</h1>

<div class="table-responsive">
<table class="table table-condensed table-hover table-striped">

   <thead>
        <th class="thFirst">Номер заказа</th>
        <th>Наименование</th>
        <th>Дата</th>
        <th>Номинал</th>
        <th>Потрачено</th>
        <th class="shopStatus">Статус</th>
        <th>Сертификат/код</th>
        <th>X</th>
    </thead>

{row}
    <tr>
        <td class="tdFirst">{number}</td>
        <td>{title}</td>
        <td>{dateString}</td>
        <td>{nominal}</td>
        <td>{price}</td>
        <td class="shopStatus">{statusName}</td>
        <td>{file}</td>
        <td class="tdLast">{kill}</td>
    </tr>
{/row}

</table>
</div>

<script>
    $(function () {
        $(".killOrderDialog").on('click', function (ev) {
            var id = $(this).data('id'),
                title = $(this).data('title'),
                dateString = $(this).data('datestring'),
                nominal = $(this).data('nominal'),
                price = $(this).data('price');
            swal({
                title: "Удалить?",
                text: "<p><strong>Удалить заказанный подарок?</strong></p>Название: " + title + "<br>Дата заказа: " + dateString + "<br>Номинал: " + nominal + " руб<br>Баллы: " + price + " баллов",
                html: true,
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#419641",
                confirmButtonText: "Да!",
                closeOnConfirm: true,
                cancelButtonText: "Нет!",
            },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href="/mygifts?kill&id=" + id;
                }
            });
            ev.preventDefault();
        });
    });
</script>