<style>
    #search_form label {
    font-size: 14px !important;
}

#search_form h2 {
    color: white !important;
    text-align: center;
    font-size: 60px;
    margin-top: 35px;
    font-family: 'Comfortaa', cursive;
}
#search_form button {
    margin-top: 20px;
}
.checkbox-item {
    white-space: nowrap;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}
@media (max-width: 768px) {
#slider {
    height: 610px !important;
}
#search_form label {
    color: white;
    margin-bottom: 8px;
}
.checkbox-item {
    line-height: 13px;
}
}
/*
#objTable tr.even_class:nth-child(2) {
    border: 1px solid #ccc;
    background-color: #fdecb0 !important;
}
#objTable tr.even_class .tel_wrap:nth-child(2) {
    margin-top: 7px;
}
#objTable tr.even_class .tel_wrap .tel:nth-child(1) {
    background: #2b87db;
    color: #fff;
    border-radius: 10px;
    padding: 6px 8px;
}
#objTable tr.even_class .recom:nth-child(1) {
    border: 2px solid #fbdf7a;
    background: #fbdf7a;
}
*/
</style>
<div id="search_form">

    <h2>Летний отдых</h2>
    <form action="" method="post" id="form-search-data">
        <input type="hidden" name="submit_search" id="submit_search" value="0">
        <input type="hidden" name="type" value="activitysummer">
        <input type="hidden" name="startItem" value="0">
        <input type="hidden" name="numItems" value="0">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-4 form-group">
                <div class="selected-control">
                    {%territorySelect%}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="checkboxes_row col-md-10 col-md-offset-1" style="/* width: 1001px; */">
                {%checkboxes%}
            </div>
        </div>

        <div class="row" style="margin: 0;">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="form-control btn">НАЙТИ</button>
            </div>
        </div>
    </form>

</div>