<style>
#slider {
    height: 495px;
    position: relative;
    /* overflow: hidden; */
    transition: background 1s;
    background-size: cover;
    background-position: center center;
}
    @media (max-width: 768px) {
#slider {
    height: 265px !important;
}
}
</style>
<div id="search_form">

    <h2>Развлечения</h2>
    <form action="" method="post" id="form-search-data">
        <input type="hidden" name="submit_search" id="submit_search" value="0">
        <input type="hidden" name="type" value="enterts">
        <input type="hidden" name="startItem" value="0">
        <input type="hidden" name="numItems" value="0">

        <div class="row" style="padding: 0 10px;">

            <div class="col-sm-2 col-sm-offset-5 form-group">
                <div class="selected-control">
                    {%territorySelect%}
                </div>
            </div>

<!--            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%servicetypeSelect%}
                </div>
            </div>-->

        </div>

        <div class="row" style="margin: 0;">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="form-control btn">НАЙТИ</button>
            </div>
        </div>
    </form>
</div>