<style>
    #search_form label {
    font-size: 14px !important;
}

@media (max-width: 768px) {
#slider {
    height: 595px !important;
}
#search_form label {
    font-size: 13px !important;
}
}
</style>
<script>  
(function($) {    
    $('.active').find('a').attr('href');  }(jQuery));  
</script>
<div id="search_form">

    <h2>Отели</h2>
    <form action="" method="post" id="form-search-data">
        <input type="hidden" name="submit_search" id="submit_search" value="1">
        <input type="hidden" name="type" value="hotels">
        <input type="hidden" name="startItem" value="0">
        <input type="hidden" name="numItems" value="0">

        <div class="row" style="padding: 0 10px;">

            <div class="col-sm-2 col-sm-offset-1 form-group">
                <div class="selected-control">
                    {%territorySelect%}
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%hoteltypeSelect%}
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="selected-control">
                    {%priceFrom2Select%}
                    {%priceUntil2Select%}
                </div>
            </div>
<!--            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%priceFrom2Select%}
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%priceUntil2Select%}
                </div>
            </div>-->

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%distCblcarSelect%}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="checkboxes_row col-md-7 col-md-offset-3" style="/* width:959px; */">
                {%checkboxes%}
            </div>
        </div>

        <div class="row" style="margin: 0;">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="form-control btn">НАЙТИ</button>
            </div>
        </div>
    </form>

</div>
