<div id="search_form-block row">
            <div id="search_form" class="main_search_form col-md-6 col-md-offset-3">

                <form action="/search/" method="post" id="form-search-main">

                    <div class="search-input-block clearfix">
                        <div class="search-input-element">
                            <input type="text" name="serv_name" id="serv_name" class="form-control" placeholder="НАЙТИ В КРАСНОЙ ПОЛЯНЕ ..." style="padding:0;">
                        </div>
                        <button class="search-button-element"><img src="/users/tpl/images/search.png"></button>
                    </div>

                    <div class="search-button-block clearfix">
                        <div class="main-left-button">
                            <a href="/all_items_map/" class="form-control btn btn-primary as-button">НА КАРТЕ</a>
                        </div>
                        <div class="main-right-button">
                            <button type="button" class="form-control btn openMegaForm">ЗАКАЗАТЬ УСЛУГУ</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
