<style>
    @media (max-width: 768px) {
#slider {
    height: 595px !important;
}
}
</style>
<div id="search_form">

    <h2>Рестораны</h2>
    <form action="" method="post" id="form-search-data">
        <input type="hidden" name="submit_search" id="submit_search" value="0">
        <input type="hidden" name="type" value="restaurants">
        <input type="hidden" name="startItem" value="0">
        <input type="hidden" name="numItems" value="0">

        <div class="row" style="padding: 0 10px;">

            <div class="col-sm-2 col-sm-offset-1 form-group">
                <div class="selected-control">
                    {%territorySelect%}
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%kitchenSelect%}
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%resttypeSelect%}
                </div>
            </div>

            <div class="col-sm-4 form-group">
                <div class="selected-control">
                    {%priceFrom2Select%}
                    {%priceUntil2Select%}
                </div>
            </div>
            
<!--            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%middleCheckSelect%}
                </div>
            </div>-->

        </div>

        <div class="checkboxes_row col-md-6 col-md-offset-3" style="/* width: 959px; */">
            {%checkboxes%}
        </div>

        <div class="row" style="margin: 0;">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="form-control btn">НАЙТИ</button>
            </div>
        </div>
    </form>

</div>