<style>
/*
#objTable tr.even_class:nth-child(2) {
    border: 1px solid #ccc;
    background-color: #fdecb0 !important;
}
#objTable tr.even_class .tel_wrap:nth-child(2) {
    margin-top: 7px;
}
#objTable tr.even_class .tel_wrap .tel:nth-child(1) {
    /* background: #2b87db; */
    /* color: #fff; */
    border-radius: 10px;
    padding: 6px 8px;
}
#objTable tr.even_class .recom:nth-child(1) {
    border: 2px solid #fbdf7a;
    background: #fbdf7a;
}
*/
@media (max-width: 768px) {
#slider {
    height: 330px !important;
}
}
</style>
<div id="search_form">

    <h2>Транспорт</h2>
    <form action="" method="post" id="form-search-data">
        <input type="hidden" name="submit_search" id="submit_search" value="0">
        <input type="hidden" name="type" value="transports">
        <input type="hidden" name="startItem" value="0">
        <input type="hidden" name="numItems" value="0">

        <div class="row" style="padding: 0 10px;">

            <div class="col-sm-2 col-xs-offset-4 form-group">
                <div class="selected-control">
                    {%territorySelect%}
                </div>
            </div>

            <div class="col-sm-2 form-group">
                <div class="selected-control">
                    {%transporttypeSelect%}
                </div>
            </div>

        </div>

        <div class="row checkboxes_row" style="display: none;">
            {%checkboxes%}
        </div>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="form-control btn">НАЙТИ</button>
            </div>
        </div>
    </form>

</div>