

<link rel="stylesheet" href="/core/plugins/bootstrap-select/css/bootstrap-select.min.css">
<script src="/core/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

<script src="/users/tpl/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/core/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
<script src="/core/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/core/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/core/plugins/fancybox-3.0/dist/jquery.fancybox.js"></script>

<script src="/users/tpl/js/appl.js?ts=10004"></script>
{%add_scripts%}
<script>
$(document).ready(function(){
$('ul.navigation a').each(function () {
if (this.href == location.href) $(this).parent().addClass('active');
});
});
</script>
<script>  
$(document).ready(function(){
(function($) {    
    $('.active').find('a').removeAttr('href');  }(jQuery));
});  
</script>
<script>
$(document).ready(function(){
//fade in/out based on scrollTop value
$(window).scroll(function () {
if ($(this).scrollTop() > 0) {
$('#scroller').fadeIn(100); //задаем скорость исчезновения кнопки
} else {
$('#scroller').fadeOut(200); //задаем скорость появления кнопки
}
});
// scroll body to 0px on click
$('#scroller').click(function () {
$('body,html').animate({
scrollTop: 0
}, 1000); //задаем скорость прокрутки
return false;
});
});
</script>
<script>
//jQuery is required to run this code
$( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    // console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter29119360 = new Ya.Metrika({
                    id:29119360,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/29119360" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <script src="/core/plugins/datatables/jquery.dataTables.min.js">
    
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
</body>
</html>