<!DOCTYPE html>
<html lang="ru">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%_title%}</title>
    <meta name="keywords" content="{%_keywords%}" />
    <meta name="description" content="{%_description%}" />
    
    <meta property="og:title" content="{%_title%}">
    <meta property="og:description" content="{%_description%}">
    <meta name="og:image" content="{%_top_img%}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    
    <meta name="robots" content="index, follow">
    <meta charset="utf-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TradeDoubler site verification 3025634 -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="/users/tpl/css/fonts.css">
    <link rel="stylesheet" href="/users/tpl/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/core/plugins/fa/css/font-awesome.min.css?ts=10010">
    <link rel="stylesheet" href="/users/tpl/css/fonts.css?ts=10010">
    <link rel="stylesheet" href="/users/tpl/css/style.css?ts=10010">
    <link rel="stylesheet" href="/users/tpl/css/footer.css?ts=10010">
    <link rel="stylesheet" href="/users/tpl/css/news.css?ts=10010">
    <link rel="stylesheet" href="/users/tpl/css/selected.css?ts=10010">

    <link rel="stylesheet" href="/core/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/core/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/core/plugins/fancybox-3.0/dist/jquery.fancybox.css">

    <!-- link rel="stylesheet" href="/users/tpl/css/sticky-footer.css" -->

    <script src="/core/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="/core/plugins/jquery/jquery-ui-1.10.4.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="/core/plugins/jquery/jquery-ui-1.10.4.custom.min.css">



    
    <link rel="stylesheet" href="/core/plugins/datatables/jquery.dataTables.min.css">
    

    {%addit_styles%}

</head>
<body>

