<div class="container">

    <div class="footer">

        <div class="col-xs-12 col-md-3 footer_item" style="text-align: center;">

            <img src="/users/tpl/images/logo_footer.png" style="margin-bottom: 115px;"/>
            <br>{%_o_copyright%}

        </div>

        <div class="col-xs-12 col-md-3 dmenu footer_item">

            {%_dnmenu%}

        </div>

        <div class="col-xs-12 col-md-3 footer_item">
            <div class="footer_soc">{%soc_big%}</div>
            <div class="footer_phone">{%_o_main_phone%}</div>
            <div class="footer_mail"><a href="mailto:{%_o_sitemail%}">{%_o_sitemail%}</a></div>
        </div>
        <div class="col-xs-12 col-md-3 footer_item">

            <ul class="footer_menu2">
                <li class="user_agree"><a href="/user_agree">пользовательское соглашение</a></li>
                <li class="mobile_version" style="display: none;"><a href="http://m.kraspol.org">перейти на мобильную версию</a></li>
            </ul>

            <p>подписаться на новости:</p>
            <input type="hidden" id="key_code" value="{%key_code%}">
            <input type="hidden" id="src_code" value="{%src_code%}">
            <input type="email" class="form-control bordering email_subscr" id="email_subscr" name="email_subscr" value="" placeholder="mail@mail.ru">
            <button type="button" class="form-control btn bordering" id="email_subscr_btn">подписаться</button>

        </div>

    </div>

</div>
<div id="scroller" style="display: block;"></div>
