<div class="footer">

    <div class="logos_footer clearfix">
        <div class="logo">
            <img src="/users/tpl/images/logo_footer.png" alt="Краспол"><br>
        </div>
        <div class="socicons_big">
            {%soc_big%}
        </div>
        <div class="linka">
            <a href="">Перейти на мобильную версию</a>
        </div>
    </div>

    <div id="fmenu">
        {%_dnmenu%}
    </div>

    <div style="clear:both"></div>
    <p>&nbsp;</p>

    <div class="col-xs-3 col-xs-offset-2" style="color:white;">
        Подпишитесь на нашу рассылку
    </div>
    <div class="col-xs-3 col-md-2">
        <input type="hidden" id="key_code" value="{%key_code%}">
        <input type="hidden" id="src_code" value="{%src_code%}">
        <input type="email" class="form-control bordering email_subscr" id="email_subscr" name="email_subscr" value="" placeholder="mail@mail.ru">
    </div>
    <div class="col-xs-3 col-md-2">
        <button type="button" class="form-control btn bordering" id="email_subscr_btn">подписаться</button>
    </div>


    <div class="col-md-10 col-md-offset-2" style="color:white;margin-top: 10px;">
        Наш телефон: {%_main_phone%}
    </div>

    <div class="col-md-10 col-md-offset-2" style="color:white;margin-top: 25px;">
        {%_o_copyright%}
    </div>


</div>