<div id="shapka" class="navbar-collapse collapse">
<div class="logo_link">
    <a href="/" class="shapka__logo">
        <img src="/users/tpl/images/kp_logo.png" alt="Красная поляна">
    </a></div>

    <div class="shapka__content">

        <div class="shapka__content-up clearfix">
            <h1 class="shapka__title" style="margin: 0;">Красная Поляна<br><div style="font-size: 11px;">официальный сайт</div></h1>
            <div class="shapka__socicons-small">{%soc_small%}</div>
            <div class="shapka__phone"><a href="https://api.whatsapp.com/send?phone=79258810353&amp;text=Здравствуйте!%20Напишите%20нам%20в%20чат%20kraspol.org%20и%20мы%20обязательно%20ответим" target="_blank" style="text-decoration: none;">
<img src="/userfiles/moduls/social/icon_small/WhatsApp_logo.png" style="width: 35px;"> </a>{%_main_phone%}</div>
        </div>
        

    </div>
[%html/_upmenu%]
</div>