<div id="menu" class="nav navbar-nav-center navbar-collapse collapse" style="margin-top: 30px;text-align: center;">
    <ul class="navigation">
                              <li><a href="/kategoriya-spravochnika/gostinicy/">отели</a></li>
                      <li><a href="/kategoriya-spravochnika/restorany-kafe-bary/">рестораны</a></li>
                      <li><a href="/kategoriya-spravochnika/zimniy-otdyh/">зимний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/letniy-otdyh/">летний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/otdyh-s-detmi/">отдых с детьми</a></li>
                      <li><a href="/kategoriya-spravochnika/razvlecheniya/">развлечения</a></li>
                      <li><a href="/kategoriya-spravochnika/transport/">транспорт</a></li>
                      <li><a href="/kategoriya-spravochnika/magaziny/">магазины</a></li>
                      <li><a href="/kategoriya-spravochnika/krasota-i-zdorove/">здоровье и красота</a></li>
                      <li><a href="/kategoriya-spravochnika/uslugi/">услуги</a></li>
                      <li><a href="/all_items_map/">карта</a></li>
                      <li><a href="/ski-pass/">ски-пассы</a></li>
                      <li><a href="/o-proekte/">о проекте</a></li>
        <!-- {%_upmenu%} -->
    </ul>
</div>