<div class="shopGiftsBlock">
<div class="shopGiftsBlock mainShadow" style="clear:both;"></div>
<h4>Подарочные электронные сертификаты</h4>


<form action="#errorblock" method="post">
<input type="hidden" name="shopsubmit" value="1">
<input type="hidden" name="goods_id" id="goods_id" value="0">

<table>
    {row}
        <tr>
            <td>{title}</td>
            <td style="padding-right:20px"><img src="/userfiles/moduls/shop/image/{image}" width="100"></td>
            <td>{nominals}</td>
        </tr>
    {/row}
</table>

</form>

</div>
<div class="shopGiftsBlock mainShadow" style="clear:both;"></div>