
<table class="table">

{row}
<tr>
    <td>Загруженный файл {data}<br><b>Комментарий: {comment}</b></td>
    <td>{fname}</td>
    <td><a href="/{path}{fname}">скачать файл</a></td>
    <td><a href="{modulPath}process/obr/{fname}">обработать</a></td>
    <td><a href="{modulPath}process/toarchive/{fname}" onClick="return confirm('Переложить файл {fname} в архив?');">переложить в архив</a></td>
</tr>
{/row}

</table>