<style>
table.table td{
    white-space: nowrap;
}
</style>
<form action="" method="post">
<input type="hidden" name="uadssubmit" value="1">

<div style="overflow:auto;max-height:400px;" id="uadspolises">
<table class="table table-hover table-condensed table-striped">

<tr>
    <th><input type="checkbox" id="selectall"></th>
    <th>ID</th>
    <th>№ договора</th>
    <th>Дата договора</th>
    <th>Страхователь</th>
    <th>Подписанная премия (оплачено)</th>
    <th>Регион</th>
    <th>Город</th>
    <th>Дата поступления платежа</th>
    <th>Сумма платежа</th>
    <th>Дельта платежа</th>
    <th>Договор привязан</th>
    <th>Решение</th>
    <th style="width:100%;">Комментарий</th>
</tr>

{row}
    <tr>
        <td class="acceptbox"><input type="checkbox" name="contracts[{id}]" value="1"></td>
        <td>{id}</td>
        <td nowrap>{number}</td>
        <td>{dateString}</td>
        <td>{title}</td>
        <td class="summa_{id}">{summa}</td>
        <td>{region}</td>
        <td>{city}</td>
        <td>
            <input type="text" name="contr[{id}][paydate]" id="contrdate_{id}" value="{paydate}">
            <script>
            $(document).ready(function(){
                $("#contrdate_{id}").datetimepicker({
                    weekStart:1,
                    language: "ru",
                    pickTime: false
                });
            });
            </script>
        </td>
        <td><input type="text" style="width:100%;" name="contr[{id}][paysumma]" value="{paysumma}" class="paysumma onlySumma" id="{id}"></td>
        <td class="paydelta_{id}">{paydelta}</td>
        <td style="text-align:center;">
            <input type="hidden" name="contr[{id}][link]" value="0">
            <input type="checkbox" name="contr[{id}][link]" value="1" {link}>
        </td>
        <td>
            <input type="radio" name="contr[{id}][accept]" value="0">&nbsp;отменён
            <input type="radio" name="contr[{id}][accept]" value="1">&nbsp;согласован
        </td>
        <td><input type="text" style="width:100%;" name="contr[{id}][comment_uads]" value="{comment_uads}"></td>
    </tr>
{/row}

</table>
</div>


<br>

<script>
$(document).ready(function(){
    $("input.paysumma").each(function(){
        $(this).keyup(function(){
            var val = $(this).val();
            if (val == "") val = 0;
            var id = $(this).attr("id");
            var summa = $("td.summa_"+id).text() - val;
            $("td.paydelta_" + id).text(summa.toFixed(2));
        });
    });
});
</script>