<style>
table.table td{
    white-space: nowrap;
}
</style>

<form action="" method="post">
<input type="hidden" name="uadssubmit" value="1">
<input type="hidden" name="accept" id="accept" value="">

<table id="tablez" class="table table-hover table-condensed table-striped">
<thead>
<tr>
    <th><input type="checkbox" id="selectall"></th>
    <th nowrap>ID</th>
    <th nowrap>Дата создания</th>
    <th nowrap>Дата продажи</th>
    <th nowrap>Пользователь</th>
    <th nowrap>Компания</th>
    <th nowrap>Серийный номер</th>
    <th nowrap>Продукция</th>
    <th>Баллы</th>
    <th class="no-sort"><i class="icon-file"></i></th>
</tr>
</thead>

<tbody>
{row}
    <tr>
        <td class="acceptbox"><input type="checkbox" name="contracts[{id}]" value="1"></td>
        <td>{id}</td>
        <td nowrap>{createdString}</td>
        <td nowrap>{dateString}</td>
        <td nowrap>{user_name}</td>
        <td nowrap>{company_name}</td>
        <td>{title}</td>
        <td>{product}</td>
        <td>{balls}</td>
        <th>{document}</th>
    </tr>
{/row}
</tbody>
</table>

<div style="padding-top: 7px;">

<button class="btn btn-danger" onClick=" $('#accept').val('cancel'); ">отклонить выбранные</button>
<button class="btn btn-success" onClick=" $('#accept').val('accept'); ">принять выбранные</button>

</div>

</form>

<br>

<link rel="stylesheet" href="/core/plugins/fancyBox/source/jquery.fancybox.css">
<script src="/core/plugins/fancyBox/source/jquery.fancybox.js"></script>
<script>
$(document).ready(function(){

    $('#tablez').DataTable({
        "paging":    false,
        "info":      false,
        "searching": false,
        "order": [[ 1, "asc" ]],
        "columnDefs": [ {
            "targets"  : 'no-sort',
            "orderable": false
        }]
    });

    $("input#selectall").click(function(){
    
        var checked = $(this).prop("checked");
        $("#uadspolises td.acceptbox input[type=checkbox]").each(function(){
            $(this).prop("checked",checked);
        });
    
    });

    $(".fancybox").fancybox({
        openEffect	: 'none',
        closeEffect	: 'none'
    });

});
</script>