<style>
table.table td{
    white-space: nowrap;
}
</style>

    <p>
        <a href="/control/checkpolis/export/" >Экспортировать список</a> | 
        <a href="#" onClick="$('.filtr_check').slideToggle('fast'); return fasle;">Фильтр</a>
    </p>

<div class="filtr_check" style="display:none;">
    <form action="" method="post">
        <input type="hidden" name="setfiltr" value="1">
        <div class="row">
<!--             <div class="col-md-2">
                <div class="form-group">
                    <label for="birthday">Дата регистрации: </label>
                    <input type="text" class="form-control setDatePicker" id="regdate1" name="regdate[value1]" placeholder="с Даты" value="">
                    <input type="text" class="form-control setDatePicker" id="regdate2" name="regdate[value2]" placeholder="по Дату" value="">
                </div>
            </div> -->
            <div class="col-md-2">
                <div class="form-group">
                    <label for="user_id">Пользователь: </label>
                    <select class="form-control" id="user_id" name="user_id">
                        <option value='none'>Выберите пользователя</option>
                        {%users_select%}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="product_id">Продукт: </label>
                    <select class="form-control" id="product_id" name="product_id">
                        <option value='none'>Выберите продукт</option>
                        {%products_select%}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="department">Компания: </label>
                    <select class="form-control" id="department" name="department">
                        <option value='none'>Выберите компанию</option>
                        {%companies_select%}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="saledate">Дата продажи: </label>
                    <input type="text" class="form-control setDatePicker" id="saledate1" name="saledate[value1]" placeholder="с Даты" value="">
                    <input type="text" class="form-control setDatePicker" id="saledate2" name="saledate[value2]" placeholder="по Дату" value="">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-default">Применить</button><br>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button class="btn btn-danger">Сбросить</button>
                </div>
            </div>
        </div>
    </form>
</div>

<form action="" method="post">
<input type="hidden" name="uadssubmit" value="1">
<input type="hidden" name="accept" id="accept" value="">

<div style="overflow:auto;max-height:400px;" id="uadspolises">
<table class="table table-hover table-condensed table-striped">

<tr>
    <th><input type="checkbox" id="selectall"></th>
    <th nowrap>ID</th>
    <th nowrap>Рег.польз</th>
    <th nowrap>Рег.продажи</th>
    <th nowrap>Пользователь</th>
    <th nowrap>Код продажи</th>
    <th nowrap>Компания</th>
    <th nowrap>Город</th>
    <th nowrap>Юр.лицо</th>
    <th nowrap>Менеджер</th>
    <th nowrap>Дата продажи</th>
    <th>Баллы</th>
    <!-- <th>Регион</th>
    <th>Город</th> -->
    <th style="width:100%;">Комментарий</th>
</tr>

{row}
    <tr>
        <td class="acceptbox"><input type="checkbox" name="contracts[{id}]" value="1"></td>
        <td>{id}</td>
        <td nowrap>{userDateReg}</td>
        <td nowrap>{createdString}</td>
        <td nowrap>{lname} {fname} {sname}</td>
        <td>{title}</td>
        <td>{department}</td>
        <td>{cityName}</td>
        <td>{urlico}</td>
        <td>{manager}</td>
        <td>{dateString}</td>
        <td>{balls}</td>
        <!-- <td>{region}</td>
        <td>{city}</td> -->
        <td><input type="text" style="width:100%;" name="contr[{id}][comment_uads]" value="{comment_uads}"></td>
    </tr>
{/row}

</table>
</div>

<div style="padding-top: 7px;">

<button class="btn btn-danger" onClick=" $('#accept').val('cancel'); ">отклонить выбранные</button>
<button class="btn btn-success" onClick=" $('#accept').val('accept'); ">принять выбранные</button>

</div>

</form>

<br>

<script>
$(document).ready(function(){
    
    $("input#selectall").click(function(){
    
        var checked = $(this).prop("checked");
        $("#uadspolises td.acceptbox input[type=checkbox]").each(function(){
            $(this).prop("checked",checked);
        });
    
    });
});
</script>