<!DOCTYPE html>
<html>
<head>
    <script src="{%path_to_rootsite%}core/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="{%path_to_rootsite%}core/plugins/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%path_to_rootsite%}core/plugins/jquery/jquery-ui-1.10.4.custom.min.css">
</head>
<body>
{%_telo%}
</body>
</html>