<!DOCTYPE html>
<html>
    <head>
        <title>{%_title%}</title>
        
        <meta name="keywords" content="{%_keywords%}" />
        <meta name="description" content="{%_description%}" />
        
        <meta name="robots" content="index, follow">
        <meta charset="windows-1251">
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <script src="{%path_to_rootsite%}core/plugins/jquery/jquery-1.10.2.min.js"></script>
        <script src="{%path_to_rootsite%}core/plugins/jquery/jquery-ui-1.10.4.custom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{%path_to_rootsite%}core/plugins/jquery/jquery-ui-1.10.4.custom.min.css">
        
        <script src="{%path_to_rootsite%}core/plugins/jquery.maskedinput.min.js"></script>
        
        <script src="{%path_to_template%}js/my.js" type="text/javascript"></script>
        <script src="{%path_to_template%}js/actions.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="{%path_to_template%}css/styles.css">
        
        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{%path_to_template%}css/styles-ie.css">
        <![endif]-->
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/core/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="/core/plugins/bootstrap/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="/core/plugins/bootstrap/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/core/plugins/fa/css/font-awesome.min.css">
        
        <!-- link rel="stylesheet" href="{%path_to_template%}bootstrap/css/tokenfield-typeahead.min.css">
        <link rel="stylesheet" href="{%path_to_template%}bootstrap/css/bootstrap-tokenfield.min.css">
        <script src="{%path_to_template%}bootstrap/js/bootstrap-tokenfield.min.js"></script -->
        
        <script src="{%path_to_rootsite%}core/plugins/ckeditor/ckeditor.js"></script>
        <script src="{%path_to_rootsite%}core/plugins/AjexFileManager/ajex.js"></script>
    
        <!-- link href="{%path_to_rootsite%}core/plugins/datepicker/css/datepicker.css" rel="stylesheet">
        <script src="{%path_to_rootsite%}core/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="{%path_to_rootsite%}core/plugins/datepicker/js/bootstrap-datepicker.ru.min.js"></script -->

        <link href="{%path_to_rootsite%}core/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <script src="{%path_to_rootsite%}core/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
        <script src="{%path_to_rootsite%}core/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        
        <!-- link href="{%path_to_rootsite%}core/plugins/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet">
        <script src="{%path_to_rootsite%}core/plugins/clockpicker/bootstrap-clockpicker.min.js"></script -->
        
    </head>