[%header%]
<body role="document" onkeyup="hotkey(event);">
    <a name="uppage"></a>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{%path_to_site%}" class="navbar-brand">{%_o_sitename%}</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    {%_topmenu%}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {%_rightmenu%}
                </ul>

            </div><!--/.nav-collapse -->

        </div>
    </div>
    <!-- /Fixed navbar -->

    <div style="height:70px;"></div>
    <div id="key"></div>
    
    <!-- container -->
    <div class="container">

    <!-- <div class="alert alert-danger"><strong>Внимание! В административной панеле ведуться работы!</strong><br>
    Просьба воздержаться от любых действий в АП. Спасибо!</div>-->
    
        <ol class="breadcrumb">
            {%_breadcrumbs%}
        </ol>
        {%_errortelo%}
        {%_telo%}
    </div>
    <!-- /container -->
    
    <div class="footerempty">&nbsp;</div>
    
    <div class="footer">
        <div class="container">
            <p class="text-muted">{%_o_sitename%} | Административная панель</p>
        </div>
    </div>
<hr>{%debug%}

<script src="/core/admin/tpl/js/flag_change.js"></script>

</body>
</html>