[%header%]
<body role="document">

    <div class="container theme-showcase" role="main">

    <div class="col-md-5">

        <h1>{%_o_sitename%}</h1>
        <h4><a href="http://{%site_host%}">http://{%site_host%}</a></h4>
        <hr>
        <h3>Административная панель</h3>
        {%_errortelo%}
        <form action="" method="post">
            <input type="hidden" name="loginsubmit" value="1">
            
            <div class="form-group">
                <input type="text" class="form-control" id="login" name="login" placeholder="Административный логин">
            </div>
            
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Административный пароль">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-info" data-disable-with="Сохранить" name="ssubmit">
                    <i class="icon-ok"></i>
                    Войти
                </button>
            </div>

            <!-- div class="form-group">
                <a href="/control/recover/">Восстановить пароль</a>
            </div -->

        </form>

    </div>

        
    </div> <!-- /container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted" style="text-align:center;">
                <p class="text-muted">{%_o_sitename%} | Административная панель</p>
            </p>
        </div>
    </footer>

</body>
</html>