
<table class="table table-stiped table-hover">

<tr>
    <th>Название акции</th>
    <th>статус</th>
    <th>Начало</th>
    <th>Окончание</th>
    <th>Код</th>
    <th>редактировать</th>
    <th>участники</th>
</tr>

{row}
    <tr>
        <td>{title}</td>
        <td>{statusName}</td>
        <td>{begin_action}</td>
        <td>{end_action}</td>
        <td>{code}</td>
        <td><a href="/control/allactions/edit/{id}">редактировать</a></td>
        <td>{members}<a href="/control/allactions/options/{id}">настройка акции</a></td>
    </tr>
{/row}

</table>