<div id="options_action">

<table class="table table-stiped table-hover table-condensed">

<tr>
    <th><input type="checkbox" class="selCity" name="selCity" value="1"></th>
    <th style="width:100%;">Партнёр</th>
    <th>1&nbsp;балл&nbsp;=&nbsp;X&nbsp;(руб)</th>
    <th>Порог</th>
</tr>

{row}
    <tr>
        <td>
            <input type="hidden" name="data[{region_id}][data][{city_id}][data][{citycomps}][ss]" value="0">
            <input type="checkbox" name="data[{region_id}][data][{city_id}][data][{citycomps}][ss]" value="1" {checked}>
        </td>
        <td>{title}</td>
        <td style="text-align:right;"><input type="text" name="data[{region_id}][data][{city_id}][data][{citycomps}][percent]" class="onlyDigit" value="{percent}"></td>
        <td><input type="text" name="data[{region_id}][data][{city_id}][data][{citycomps}][porog]" class="onlyDigit" value="{porog}"></td>
    </tr>
{/row}

</table>

</div>