
<p>&nbsp;</p>

<form action="" method="post">
<input type="hidden" name="ucsubmit" value="1">
<input type="hidden" name="actionform" id="actionform" value="sendmessage">

<div>

    <button type="submit" class="btn btn-info">отправить сообщение</button>
    <button type="submit" class="btn btn-warning" onClick="$('#actionform').val('blockusers');">заблокировать пользователей</button>
    <button type="submit" class="btn btn-danger" onClick="$('#actionform').val('killusers');">удалить пользователей</button>

</div>

<p>&nbsp;</p>

<div id="usercontrol">
<table class="table">

<tr>
    <th><input type="checkbox" name="cccc" class="clickallcheckbox" value="1"></th>
    <th style="width:100%;">ФИО</th>
    <th>E-mail</th>
    <th>Регистрация</th>
    <th>Заходил</th>
    <th>Статус</th>
</tr>

{row}
    <tr>
        <th>
           
            <input type="checkbox" name="chk[{id}]" class="chks" value="1"></th>
        <td>{title} {name} {sname}</td>
        <td style="white-space:nowrap;">{email}</td>
        <td style="white-space:nowrap;">{createdString}</td>
        <td style="white-space:nowrap;">{lastdateString}</td>
        <td style="white-space:nowrap;">{statusName}</td>
    </tr>
{/row}

</table>
</div>

</form>

<script>
$(document).ready(function(){
    
    $(".clickallcheckbox").click(function(){
        var res = $(this).prop("checked");
        $("input.chks").each(function(){ $(this).prop("checked",res); });
    });
    
});

</script>
