
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
<input type="hidden" name="uploadsubmit" value="1">

    <div class="form-group">
        <label for="file" class="col-sm-2 control-label">Выберите файл: </label>
        <div class="col-sm-10">
            <input type="file" id="file" name="file">
        </div>
    </div>
    
    <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">Комментарий: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn-xs">Загрузить файл</button>
            <button type="button" class="btn btn-default btn-xs" onClick="window.location.href='{retpath}';">Вернуться</button>
        </div>
    </div>
</form>