#slider {
    height: 595px;
    position: relative;
    /* overflow: hidden; */
    transition: background 1s;
    background-size: cover;
    background-position: center center;
    background-image: url(/userfiles/moduls/slider/image/svoya_priroda15.jpg) !important;
}
