
<form action="" method="post">
<input type="hidden" name="blockuserssubmit" value="1">
<input type="hidden" name="actionform" id="actionform" value="{actionform}">
<input type="hidden" name="usersarray" id="usersarray" value="{usersarray}">

<p>&nbsp;</p>
<button type="submit" class="btn btn-warning">Заблокировать выбранных пользователей</button>

</form>