
<form action="" method="post">
<input type="hidden" name="sendmessagesubmit" value="1">
<input type="hidden" name="actionform" id="actionform" value="{actionform}">
<input type="hidden" name="usersarray" id="usersarray" value="{usersarray}">

<p><b>Тема сообщения: </b></p>
<input type="еуче" class="form-control" name="subj" id="subj" placeholder="Тема сообщения" value="Отправлено с сайта">
<br>
<textarea rows="17" id="text" name="text" placeholder="text">
{text}
</textarea>
<script>
var text = CKEDITOR.replace("text");
AjexFileManager.init({returnTo: 'ckeditor', editor: text });
</script>

<p>&nbsp;</p>
<button type="submit" class="btn btn-info">Отправить</button>

</form>