
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Папка</th>
            <th>Ссылка</th>
            <th class="status">Статус</th>
            <th class="pos">Поз</th>
            <th class="elemControl"><i class="icon-pencil">&nbsp;</div></th>
            <th class="elemControl"><div class="glyphicon glyphicon-remove">&nbsp;</div></th>
        </tr>
    </thead>
    <tbody>
    {row}
        <tr>
            <td>{title}</td>
            <td>{folder}</td>
            <td>{link}</td>
            <td>{statusName}</td>
            <td>{pos}</td>
            <td><a href="{%modulPath%}edit/{id}/"><div class="glyphicon glyphicon-pencil">&nbsp;</div></a></td>
            <td><a href="{%modulPath%}delete/{id}/" onClick="javascript: return confirm('Удалить {title}?');"><div class="glyphicon glyphicon-remove">&nbsp;</div></a></td>
        </tr>
    
    {/row}
    </tbody>
</table>