
<div class="modal fade bs-example-modal-lg" id="myMegaForm" tabindex="-1" role="dialog" aria-labelledby="myMegaFormLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Заказать услугу</h4>
            </div>
            <div class="modal-body" id="megaform">

                <form id="feedback_from">
                    <input type="hidden" name="ids" id="ids" value="">

                    <div class="form-group" id="select-service-form-group">
                        <label for="select-service">Выберите вид услуги</label>
                        <select class="form-control input-sm" id="select-service" name="select-service">
                            {%razdelSelect%}
                        </select>
                    </div>

                    <div class="common_form_elements">

                        <div class="row">

                            <div class="col-sm-6 form-group gostinicy-hides restorany-kafe-bary-hides">
                                <label for="territory">Расположение</label>
                                <select id="territory" name="territory" class="form-control input-sm">
                                    {%territorySelect2%}
                                </select>
                            </div>

                            <div class="col-sm-6 form-group hotels_form_element gostinicy-hides">
                                <label for="hoteltype">Тип отеля/звёздность</label>
                                <select id="hoteltype" name="hotels[hoteltype]" class="form-control input-sm">
                                    {%hoteltypeSelect2%}
                                </select>
                            </div>

                            <div class="col-sm-6 form-group restaurants_form_element restorany-kafe-bary-hides">
                                <label for="resttype">Тип ресторана</label>
                                <select id="resttype" name="restaurants[resttype]" class="form-control input-sm">
                                    {%resttypeSelect2%}
                                </select>
                            </div>

                            <div class="col-sm-6 form-group transports_form_element transport-hides">
                                <label for="transporttype">Вид транспорта</label>
                                <select id="transporttype" name="transports[transporttype]" class="form-control input-sm">
                                    {%transporttypeSelect2%}
                                </select>
                            </div>

                            <div class="col-sm-6 form-group activitysummer_form_element">
                                <label for="asguests">Участников</label>
                                <select id="asguests" name="activitysummer[guests]" class="form-control input-sm">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="больше 10">больше 10</option>
                                </select>
                            </div>

                            <div class="col-sm-6 form-group activitywinter_form_element">
                                <label for="awguests">Участников</label>
                                <select id="awguests" name="activitywinter[guests]" class="form-control input-sm">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="больше 10">больше 10</option>
                                </select>
                            </div>

                            <div class="col-sm-6 form-group activitychildren_form_element">
                                <label for="acguests">Участников</label>
                                <select id="acguests" name="activitychildren[guests]" class="form-control input-sm">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="больше 10">больше 10</option>
                                </select>
                            </div>

                            <div class="col-sm-6 form-group beauties_form_element beauties-hides">
                                <label for="beautiestype">Тип</label>
                                <select id="beautiestype" name="beauties[type]" class="form-control input-sm">
                                    {%beautytypeSelect2%}
                                </select>
                            </div>

                            <div class="col-sm-6 form-group services_form_element services-hides">
                                <label for="servicetype">Услуга</label>
                                <select id="servicetype" name="services[type]" class="form-control input-sm">
                                    {%servicetypeSelect2%}
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row hotels_form_element">

                        <div class="col-sm-6 form-group gostinicy-hides restorany-kafe-bary-hides">
                            <label for="hprice_from">Цена, от</label>
                            <select id="hprice_from" name="hotels[price_from]" class="form-control input-sm">
                                {%priceFromSelect%}
                            </select>
                        </div>

                        <div class="col-sm-6 form-group gostinicy-hides restorany-kafe-bary-hides">
                            <label for="hprice_until">Цена, до</label>
                            <select id="hprice_until" name="hotels[price_until]" class="form-control input-sm">
                                {%priceUntilSelect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="hdtstart">Дата заезда</label>
                            <input type="text" id="hdtstart" name="hotels[dtstart]" class="form-control datepicker input-sm" placeholder="Дата заезда">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="hdtfinish">Дата выезда</label>
                            <input type="text" id="hdtfinish" name="hotels[dtfinish]" class="form-control datepicker input-sm" placeholder="Дата выезда">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="hguests">Гостей</label>
                            <select id="hguests" name="hotels[guests]" class="form-control input-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="больше 6">больше 6</option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="hrooms">Номеров</label>
                            <select id="hrooms" name="hotels[rooms]" class="form-control input-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="больше 5">больше 5</option>
                            </select>
                        </div>

                    </div>

                    <div class="row restaurants_form_element">

                        <div class="col-sm-6 form-group restorany-kafe-bary-hides">
                            <label for="rprice_from">Средний чек, от</label>
                            <select id="rprice_from" name="restaurants[price_from]" class="form-control input-sm">
                                {%middleCheckSelect2%}
                            </select>
                        </div>

                        <!-- div class="col-sm-6 form-group restorany-kafe-bary-hides">
                            <label for="rprice_until">Средний чек, до</label>
                            <select id="rprice_until" name="restaurants[price_until]" class="form-control input-sm">
                                {%priceUntilSelect%}
                            </select>
                        </div -->

                        <div class="col-md-3 restorany-kafe-bary-hides">
                            <label style="margin-bottom: 5px;">Доставка</label><br>
                            <input type="hidden" name="restaurants[delivery]" value="Доставка: нет">
                            <input type="checkbox" name="restaurants[delivery]" id="delivery" class="s-checkbox" value="Доставка: да">
                            <span class="s-label">
                                <span class="s-off"><i class="fa fa-square-o"></i></span>
                                <span class="s-on"><i class="fa fa-check-square"></i></span>
                                <label for="delivery">Да</label>
                            </span>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="rguests">Гостей</label>
                            <select id="rguests" name="restaurants[guests]" class="form-control input-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="больше 10">больше 10</option>
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="rdate">Дата</label>
                            <input type="text" id="rdate" name="restaurants[date]" class="form-control datepicker input-sm" placeholder="Дата">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="rtime">Время</label>
                            <select id="rtime" name="restaurants[time]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                    </div>

                    <div class="row transports_form_element">

                        <div class="col-sm-3 form-group">
                            <label for="tdate">Дата</label>
                            <input type="text" id="tdate" name="transports[date]" class="form-control datepicker input-sm" placeholder="Дата">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="ttime">Время</label>
                            <select id="ttime" name="transports[time]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="tguests">Пассажиров</label>
                            <select id="tguests" name="transports[guests]" class="form-control input-sm">
                                <option value="до 4">до 4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="больше 10">больше 10</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label style="margin-bottom: 5px;">Детское кресло</label><br>
                            <input type="hidden" name="transports[children]" value="Детское кресло: нет">
                            <input type="checkbox" name="transports[children]" id="tchildren" class="s-checkbox" value="Детское кресло: да">
                            <span class="s-label">
                                <span class="s-off"><i class="fa fa-square-o"></i></span>
                                <span class="s-on"><i class="fa fa-check-square"></i></span>
                                <label for="tchildren">Да</label>
                            </span>
                        </div>

                    </div>

                    <div class="row activitysummer_form_element">
                        {%form_order_summer%}

                        <div class="col-md-2">
                            <label style="margin-bottom: 5px;">Дети</label><br>
                            <input type="hidden" name="activitysummer[children]" value="Дети: нет">
                            <input type="checkbox" name="activitysummer[children]" id="aschildren" class="s-checkbox" value="Дети: да">
                            <span class="s-label">
                                <span class="s-off"><i class="fa fa-square-o"></i></span>
                                <span class="s-on"><i class="fa fa-check-square"></i></span>
                                <label for="aschildren">Да</label>
                            </span>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ages">Возраст детей</label>
                                <input type="text" id="ages" name="activitysummer[ages]" class="form-control" placeholder="Возраст детей через запятую">
                            </div>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="asdate1">Дата начала</label>
                            <input type="text" id="asdate1" name="activitysummer[date1]" class="form-control datepicker input-sm" placeholder="Дата начала">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="astime1">Время начала</label>
                            <select id="astime1" name="activitysummer[time1]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="asdate2">Дата окончания</label>
                            <input type="text" id="asdate2" name="activitysummer[date2]" class="form-control datepicker input-sm" placeholder="Дата окончания">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="astime2">Время окончания</label>
                            <select id="astime2" name="activitysummer[time2]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                    </div>

                    <div class="row activitywinter_form_element">
                        {%form_order_winter%}

                        <div class="col-md-2">
                            <label style="margin-bottom: 5px;">Дети</label><br>
                            <input type="hidden" name="activitywinter[children]" value="Дети: нет">
                            <input type="checkbox" name="activitywinter[children]" id="awchildren" class="s-checkbox" value="Дети: да">
                            <span class="s-label">
                                <span class="s-off"><i class="fa fa-square-o"></i></span>
                                <span class="s-on"><i class="fa fa-check-square"></i></span>
                                <label for="awchildren">Да</label>
                            </span>
                        </div>

                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="awages">Возраст детей</label>
                                <input type="text" id="awages" name="activitywinter[ages]" class="form-control" placeholder="Возраст детей через запятую">
                            </div>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="awdate1">Дата начала</label>
                            <input type="text" id="awdate1" name="activitywinter[date1]" class="form-control datepicker input-sm" placeholder="Дата начала">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="awtime1">Время начала</label>
                            <select id="awtime1" name="activitywinter[time1]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="awdate2">Дата окончания</label>
                            <input type="text" id="awdate2" name="activitywinter[date2]" class="form-control datepicker input-sm" placeholder="Дата окончания">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="awtime2">Время окончания</label>
                            <select id="awtime2" name="activitywinter[time2]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>
                    </div>

                    <div class="row activitychildren_form_element">
                        <div class="col-sm-3 form-group">
                            <label for="acdate1">Дата начала</label>
                            <input type="text" id="acdate1" name="activitychildren[date1]" class="form-control datepicker input-sm" placeholder="Дата начала">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="actime1">Время начала</label>
                            <select id="actime1" name="activitychildren[time1]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="acdate2">Дата окончания</label>
                            <input type="text" id="acdate2" name="activitychildren[date2]" class="form-control datepicker input-sm" placeholder="Дата окончания">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="actime2">Время окончания</label>
                            <select id="actime2" name="activitychildren[time2]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        {%form_order_children%}

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="acages">Возраст детей</label>
                                <input type="text" id="acages" name="activitychildren[ages]" class="form-control" placeholder="Возраст детей через запятую">
                            </div>
                        </div>

                    </div>

                    <div class="row beauties_form_element">

                        <div class="col-sm-3 form-group">
                            <label for="bdate1">Дата начала</label>
                            <input type="text" id="bdate1" name="beauties[date1]" class="form-control datepicker input-sm" placeholder="Дата начала">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="btime1">Время начала</label>
                            <select id="btime1" name="beauties[time1]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="bdate2">Дата окончания</label>
                            <input type="text" id="bdate2" name="beauties[date2]" class="form-control datepicker input-sm" placeholder="Дата окончания">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="btime2">Время окончания</label>
                            <select id="btime2" name="beauties[time2]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="bguests">Гостей</label>
                            <select id="bguests" name="beauties[guests]" class="form-control input-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="больше 10">больше 10</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label style="margin-bottom: 5px;">Дети</label><br>
                            <input type="hidden" name="beauties[children]" value="Дети: нет">
                            <input type="checkbox" name="beauties[children]" id="bchildren" class="s-checkbox" value="Дети: да">
                            <span class="s-label">
                                <span class="s-off"><i class="fa fa-square-o"></i></span>
                                <span class="s-on"><i class="fa fa-check-square"></i></span>
                                <label for="bchildren">Да</label>
                            </span>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="bages">Возраст детей</label>
                                <input type="text" id="bages" name="beauties[ages]" class="form-control" placeholder="Возраст детей через запятую">
                            </div>
                        </div>

                    </div>

                    <div class="row services_form_element">

                        <div class="col-sm-3 form-group">
                            <label for="sdate1">Дата начала</label>
                            <input type="text" id="sdate1" name="services[date1]" class="form-control datepicker input-sm" placeholder="Дата начала">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="stime1">Время начала</label>
                            <select id="stime1" name="services[time1]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="sdate2">Дата окончания</label>
                            <input type="text" id="sdate2" name="services[date2]" class="form-control datepicker input-sm" placeholder="Дата окончания">
                        </div>

                        <div class="col-sm-3 form-group">
                            <label for="stime2">Время окончания</label>
                            <select id="stime2" name="services[time2]" class="form-control input-sm">
                                <option value="none">время</option>
                                {%_timeselect%}
                            </select>
                        </div>

                    </div>

                    <div class="common_form_elements">

                        <div class="form-group">
                            <label for="comment">Комментарий</label>
                            <textarea rows="5" class="form-control input-sm" id="comment" name="comment"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="file">Загрузить изображение</label>
                                    <input type="file" id="file" name="file">
                                </div>
                            </div>
                            <div class="col-md-6">
                                Ваш запрос получит больше откликов, если вы приложите свое фото
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fio">Введите ФИО</label>
                                    <input type="text" class="form-control input-sm" id="fio" name="fio" placeholder="Иванов Иван Иванович">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Ваш E-mail</label>
                                    <input type="text" class="form-control input-sm" id="email" name="email" placeholder="mail@mail.ru">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Контактный телефон</label>
                                    <input type="text" class="form-control input-sm" id="phone" name="phone" placeholder="8 (911) 000 11 22">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Предпочтительный способ связи</label><br>
                                <div class="col-md-6">
                                    <input type="hidden" name="checkemail" value="0">
                                    <input type="checkbox" name="checkemail" id="checkemail" class="s-checkbox" value="1">
                                    <span class="s-label">
                                        <span class="s-off"><i class="fa fa-square-o"></i></span>
                                        <span class="s-on"><i class="fa fa-check-square"></i></span>
                                        <label for="checkemail">E-mail</label>
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <input type="hidden" name="checkphone" value="0">
                                    <input type="checkbox" name="checkphone" id="checkphone" class="s-checkbox" value="1">
                                    <span class="s-label">
                                        <span class="s-off"><i class="fa fa-square-o"></i></span>
                                        <span class="s-on"><i class="fa fa-check-square"></i></span>
                                        <label for="checkphone">Телефон</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="agree" value="0">
                                <input type="checkbox" name="agree" id="agree" class="s-checkbox" value="1">
                                <span class="s-label">
                                    <span class="s-off"><i class="fa fa-square-o"></i></span>
                                    <span class="s-on"><i class="fa fa-check-square"></i></span>
                                    <label for="agree">Я согласен на обработку моих персональных данных</label>
                                </span>
                            </div>
                            <div class="col-md-12">
                                <a href="/rules" target="_blank">Читать правила</a>
                            </div>

                        </div>

                        <hr>
                        <p style="text-align: center;"><button class="btn btn_self" disabled id="order_button">ЗАКАЗАТЬ</button></p>

                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="waiter">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <h3 style="text-align: center;">Данные отправляются<br>
                <i class="fa fa-spinner fa-spin" style="margin:20px 0;"></i>
            </h3>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="endsend">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <h3 style="text-align:center;color:green;">Ваше сообщение отправлено!<br>
                <button type="button" onClick=" $('#endsend').modal('hide'); " class="btn btn-success btn-xs" style="width:120px;margin: 15px 0;">ок</button>
            </h3>

        </div>
    </div>
</div>

<script>var selCl = "{%_cl%}, .common_form_elements";</script>
<script src="/users/tpl/js/megaforma.js?ts=10007"></script>