
<form action="" method="post">
<input type="hidden" name="passsubmit" value="1">
<input type="submit" class="btn btn-danger" value="Сгенерировать новый пароль">
<input type="button" class="btn btn-success" value="Отменить и вернуться в пользователи" onClick="window.location.href='{returnlink}';">
</form>