<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{%_title%}</title>

    <meta name="keywords" content="{%_keywords%}" />
    <meta name="description" content="{%_description%}" />

    <meta name="robots" content="index, follow">
    <meta charset="utf-8">
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/users/tpl/css/fonts.css">
    <link rel="stylesheet" href="/users/tpl/css/style.css">
    <script src="/core/plugins/jquery/jquery-1.10.2.min.js"></script>

</head>
<body>
{%_telo%}
<link rel="stylesheet" type="text/css" href="/core/plugins/jquery.imgareaselect/css/imgareaselect-default.css">
<script type="text/javascript" src="/core/plugins/jquery.imgareaselect/scripts/jquery.imgareaselect.min.js"></script>
</body>
</html>