[%html/_header%]
<style>
    @media (max-width: 768px) {
#slider {
    height: 395px !important;
    }
    }
</style>

<div id="main-container" class="container">
        <nav class="navbar navbar-mobile">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://kraspol.org/">
                        <img style="height: 34px;" src="http://m.kraspol.org/users/tpl/images/logo-mv.png" alt="Красная поляна">
                  </a>
                </div>
                <div id="navbar5" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/kategoriya-spravochnika/gostinicy">отели</a></li>
                      <li><a href="/kategoriya-spravochnika/restorany-kafe-bary">рестораны</a></li>
                      <li><a href="/kategoriya-spravochnika/zimniy-otdyh">зимний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/letniy-otdyh">летний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/otdyh-s-detmi">отдых с детьми</a></li>
                      <li><a href="/kategoriya-spravochnika/razvlecheniya">развлечения</a></li>
                      <li><a href="/kategoriya-spravochnika/transport">транспорт</a></li>
                      <li><a href="/kategoriya-spravochnika/magaziny">магазины</a></li>
                      <li><a href="/kategoriya-spravochnika/krasota-i-zdorove">здоровье и красота</a></li>
                      <li><a href="/kategoriya-spravochnika/uslugi">услуги</a></li>
                      <li><a href="/all_items_map">карта</a></li>
                      <li><a href="/ski-pass">ски-пассы</a></li>
                      <li><a href="/o-proekte">о проекте</a></li>
                      <li>
                            <a href="https://api.whatsapp.com/send?phone=79153630443&amp;text=Здравствуйте!%20Напишите%20нам%20в%20чат%20kraspol.org%20и%20мы%20обязательно%20ответим" target="_blank" style="text-decoration: none;display:  inline-block;">
                                <img src="/userfiles/moduls/social/icon_small/WhatsApp_logo.png" style="width: 35px;"> 
                            </a>
                            <a href="https://www.facebook.com/kraspol.org/" style="margin: 1px;display: inline-block;" target="_blank">
                                <img src="/userfiles/moduls/social/icon_small/fb_logo_small.png" title="Facebook">
                            </a>
                            <a href="https://www.instagram.com/best_in_kraspol/" style="margin: 1px;display: inline-block;" target="_blank">
                                <img src="/userfiles/moduls/social/icon_small/insta_logo_small.png" title="Инстаграм">
                            </a>
                        </li>
                  </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    <div id="slider" style="background-image: url(/userfiles/image/top_pan.jpg); height: 622px;">

        [%html/_shapka%]
 <div class="homepage-hero-module">
<!--     <div class="video-container" style="display: none;">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="/userfiles/moduls/video/White-balance.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/userfiles/moduls/video/White-balance.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="/userfiles/moduls/video/White-balance.jpg" alt="">
        </div>
    </div> -->
</div>
        <div id="search_form-block row">
            <div id="search_form" class="main_search_form col-md-6 col-md-offset-3">

                <form action="/search/" method="post" id="form-search-main">

                    <div class="search-input-block clearfix">
                        <div class="search-input-element">
                            <input type="text" name="serv_name" id="serv_name" class="form-control" placeholder="НАЙТИ В КРАСНОЙ ПОЛЯНЕ ..." style="padding:0;">
                        </div>
                        <button class="search-button-element"><img src="/users/tpl/images/search.png"></button>
                    </div>

                    <div class="search-button-block clearfix">
                        <div class="main-left-button">
                            <a href="/all_items_map/" class="form-control btn btn-primary as-button">НА КАРТЕ</a>
                        </div>
                        <div class="main-right-button">
                            <button type="button" class="form-control btn openMegaForm">ЗАКАЗАТЬ УСЛУГУ</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>


    <div style="background-color: #cdcbcc; /*padding: 20px 0 20px 20px;*/">
        {%_telo%}
    </div>
<script>  
(function($) {    
    $('.logo_link').find('a').removeAttr('href');  }(jQuery));  
</script>
</div>

[%html/_podval%]
[%html/order/megaforma%]
[%html/_footer%]
