[%html/_header%]

<div class="container" style="width: 100%; padding: 0;">
        <nav class="navbar navbar-mobile">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://kraspol.org/">
                        <img style="height: 34px;" src="http://m.kraspol.org/users/tpl/images/logo-mv.png" alt="Красная поляна">
                  </a>
                </div>
                <div id="navbar5" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="/kategoriya-spravochnika/gostinicy/">отели</a></li>
                      <li><a href="/kategoriya-spravochnika/restorany-kafe-bary/">рестораны</a></li>
                      <li><a href="/kategoriya-spravochnika/zimniy-otdyh/">зимний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/letniy-otdyh/">летний отдых</a></li>
                      <li><a href="/kategoriya-spravochnika/otdyh-s-detmi/">отдых с детьми</a></li>
                      <li><a href="/kategoriya-spravochnika/razvlecheniya/">развлечения</a></li>
                      <li><a href="/kategoriya-spravochnika/transport/">транспорт</a></li>
                      <li><a href="/kategoriya-spravochnika/magaziny/">магазины</a></li>
                      <li><a href="/kategoriya-spravochnika/krasota-i-zdorove/">здоровье и красота</a></li>
                      <li><a href="/kategoriya-spravochnika/uslugi/">услуги</a></li>
                      <li><a href="/all_items_map/">карта</a></li>
                      <li><a href="/ski-pass/">ски-пассы</a></li>
                      <li><a href="/o-proekte/">о проекте</a></li>
                                            <li>
                            <a href="https://api.whatsapp.com/send?phone=79153630443&amp;text=Здравствуйте!%20Напишите%20нам%20в%20чат%20kraspol.org%20и%20мы%20обязательно%20ответим" target="_blank" style="text-decoration: none;display:  inline-block;">
                                <img src="/userfiles/moduls/social/icon_small/WhatsApp_logo.png" style="width: 35px;"> 
                            </a>
                            <a href="https://www.facebook.com/kraspol.org/" style="margin: 1px;display: inline-block;" target="_blank">
                                <img src="/userfiles/moduls/social/icon_small/fb_logo_small.png" title="Facebook">
                            </a>
                            <a href="https://www.instagram.com/best_in_kraspol/" style="margin: 1px;display: inline-block;" target="_blank">
                                <img src="/userfiles/moduls/social/icon_big/insta_logo_small.png" title="Инстаграм">
                            </a>
                        </li>
                  </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
    <div id="slider" data-slides="{%_sliders%}">

        [%html/_shapka%]

        <h2 class="page_title">{%page_title%}</h2>

    </div>

    <div class="container" style="background-color: #f0f0f0; padding-top: 10px; min-height: 400px; width: 100%;">
        {%_telo%}
    </div>

    [%html/_podval%]

</div>

[%html/order/megaforma%]
[%html/_footer%]
