<table style="text-align: left; width: 719px;" border="0" cellpadding="2" cellspacing="2">
    <tbody>
        <tr>
            <td colspan="2" rowspan="1">
                <img style="width: 700px; height: 103px;" alt="" src="http://albi.ru/wp-content/uploads/2016/11/top.png">
            </td>
        </tr>
        <tr>
            <td style="width: 401px; font-weight: bold;">
                <big>
                    <big>
                        <span style="color: rgb(34, 34, 34); font-family: arial,sans-serif; font-size: 12.8px; font-style: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; background-color: rgb(255, 255, 255); display: inline ! important; float: none;"></span>
                        Здравствуйте, ##name##!
                    </big>
                </big>
            </td>
            <td colspan="1" rowspan="3" style="width: 300px;">
                <img style="width: 300px; height: 303px;" alt="" src="http://albi.ru/wp-content/uploads/2016/11/hand.jpg">
            </td>
        </tr>
        <tr>
            <td style="width: 401px;">
                <big>
                    <big>
                        <span style="color: rgb(191, 115, 147);">
                            <span style="color: black;">Вам подтвердили продажи на общую сумму </span>##summa## рублей!
                        </span>
                    </big>
                </big>
            </td>
        </tr>
        <tr>
            <td>
                <big>
                    <big style="font-weight: bold;">
                        <big>Поздравляем!</big>
                    </big>
                    <br>
                    <big>Переведите баллы на мобильный телефон или QIWI кошелек</big>
                </big>
                <br>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2" rowspan="1">
                <a href="http://prio.albi.ru/lk/gifts/">
                    <img style="width: 250px; height: 55px;" alt="" src="http://albi.ru/wp-content/uploads/2016/11/button.png">
                </a>
            </td>
        </tr>
        <tr align="left">
            <td colspan="2" rowspan="1" style="width: 401px;">
                <big>
                    <big>
                        <span style="font-family: arial,sans-serif;">
                            Успешных продаж!
                            <br>С уважением, ваш Prio</span>
                    </big>
                </big>
                <br></td>
        </tr>
    </tbody>
</table>
