
<hr>

<div id="polissubmitresult"></div>

<form action="" method="post" class="form-horizontal">
<input type="hidden" name="salesubmit" value="1">
<input type="hidden" name="maskselect" id="maskSelect" value="">

<div class="step1">
    <div class="form-group">
        <label for="action_id" class="col-sm-2 control-label">Выберите акцию: </label>
        <div class="col-sm-10">
            <select class="form-control" id="action_id" name="action_id">
                {options}
            </select>
        </div>
    </div>
</div>

<div class="step1name" style="display:none;">
    <div class="form-group">
        <label for="action_id" class="col-sm-2 control-label">Выберите акцию: </label>
        <div class="col-sm-10 actionname">
        111
        </div>
    </div>
</div>

{masksblock}

<div class="step3" style="display:none;">
    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Номер полиса: </label>
        <div class="col-sm-10 numberpolis">
            {numberpolis}
        </div>
    </div>

    <div class="form-group">
        <label for="strah" class="col-sm-2 control-label">Страхователь: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="strah" value="{strah}" name="strah" placeholder="ФИО страхователя">
        </div>
    </div>

    <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Дата: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control setDatePicker" id="date" value="{date}" name="date" placeholder="Дата полиса">
        </div>
    </div>

    <div class="form-group">
        <label for="summa" class="col-sm-2 control-label">Сумма: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control onlySumma" id="summa" value="{summa}" name="summa" placeholder="Сумма полиса. Разделитель точка.">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" id="btnsubmit" class="btn btn-default" value="сохранить">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <b style="color:red;">Все поля обязательны для заполнения</b>
        </div>
    </div>
    
</div>

<form>



<script>
$(document).ready(function(){
    $("select#action_id").change(function(){
        var val = $(this).val();
        $(".step1").hide();
        
        var selname = $(this).find("option[value="+val+"]").text();
        $(".actionname").html(selname);
        $(".step1name").show();
        //$(".msksblk").hide();
        if (val != "none")
        {
            $(".masksblock_" + val).show();
        }
    });
});

function fselectmask(id,obj)
{
    $("a.sema").each(function(){ $(this).css({"font-weight":"normal"}); });
    $(obj).css({"font-weight":"bold"});
    $("#maskSelect").val(id);
    $(".step3").show();
    $(".inputmasks").hide();
    $(".imask_" + id).show();
}
</script>