
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Имя:</label>
    <div class="col-sm-10">
        <p class="form-control-static">{%title%}</p>
    </div>
</div>

<div class="form-group">
    <label for="slogan" class="col-sm-2 control-label">E-mail:</label>
    <div class="col-sm-10">
        <p class="form-control-static">{%email%}</p>
    </div>
</div>

<fieldset>
    <legend>Изменение пароля</legend>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p>Если не хотите менять пароль, оставьте поля пустыми</p>
        </div>
    </div>

    <div class="form-group">
        <label for="password0" class="col-sm-2 control-label">Текущий пароль:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password0" id="password0" placeholder="Ваш текущий пароль">
        </div>
    </div>

    <div class="form-group">
        <label for="password1" class="col-sm-2 control-label">Новый пароль:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Ваш новый пароль">
        </div>
    </div>

    <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Новый пароль повтор:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Ваш новый пароль. Повторить ввод">
        </div>
    </div>

</fieldset>

<hr>

<div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">сохранить</button>
</div>
