ol.todo{
    color:maroon;
    font-size: 18px;
}
ol.complete{
    color:green;
}
ol.future{
    color:silver;
}


/***************************************************/

a
a:focus,
a:active{
    border:0;
    outline: none !important;
    outline-style: none !important; 
}

a.btn{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* ICONS */
i.icon-red { color:red; }
i.icon-maroon { color:maroon; }
i.icon-green { color:green; }
i.icon-silver { color:silver; }
/* ICONS */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footerempty,
.footer {
    height: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.bold{
    font-weight:bold;
}

.container{
    width: 100% !important;
}


.checkbox input[type="checkbox"]{
    margin-left: 0px !important;
}

.action_menu .nav > li > a{
    padding: 5px 10px 5px 10px;
}










body{
    min-width: 480px;
}

.item_ucha{
    text-align:center;
    float:left;
}


/* MEDIA QUERY */
@media (max-width: 767px) {
    .item_ucha{
        width:50%;
    }
}
@media (min-width: 768px) {
    .item_ucha{
        width:33%;
    }
}

@media (min-width: 992px) {
    .item_ucha{
        width:20%;
    }
}

@media (min-width: 1200px) {
    .item_ucha{
        width:15%;
    }
}

/* text-align:center;width:'.$pad.'%;float:left;margin:0px; */












#formservice{
    display:none;
    background-color: white;
}



#addservice_dialog{
    display: none;
    background-color: white;
}




li.noactive a{
    color:silver;
}



.table-condensed > tr > td,
.table-condensed > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 2px 5px 2px 5px !important;
}




.mybtngroup .btn.active{
    text-decoration: underline;
    color: blue;
}

th.pos,
th.status,
th.chbox{
    width:1%;
}

th.elemControl{
    width:1%;
}
td.elemControl a{
    text-decoration: none;
}

.buttonFormGroup{
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 20px 0px 10px 0px;
}


th.sortcolumn{
    cursor: pointer;
}
th.header::after{
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0px 4px 4px;
    border-style: solid;
    border-color: #000 transparent;
    visibility: hidden;
}

th.pointShow::after{
    visibility: visible;
}

th.pointDown{
    background-color: #eeeeff;
}
th.pointDown::after{
    visibility: visible;
}
th.pointUp{
    background-color: #eeffee;
}
th.pointUp::after{
    border-width: 4px 4px medium;
    border-style: solid solid none;;
    visibility: visible;
}




.refreshBtn{
    display: none !important;
}












ul.dropdown-menu i{
    margin-right: 10px;
}












div.citiesSelect{
    border:1px solid silver;
    border-radius: 7px;
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}
div.citiesSelect label{
    padding: 7px 7px 4px 7px;
    cursor:pointer;
}
div.mtable th,
div.mtable td{
    white-space:nowrap;
}










div.lvl1{
    padding:4px 4px 4px 10px ;
    background-color:#dddddd;
    font-weight: bold;
    color: maroon;
    font-size: 16px;
}
div.lvl1 a{
    font-size: 14px;
    font-weight: normal;
}

div.lvl2{
    padding:4px 4px 4px 10px ;
    background-color:#eeeeee;
    color: navy;
    margin: 2px 0px 2px 20px;
}
div.lvl3{
    padding-left: 60px;
}

#options_action td input[type=text]{
    border: 1px solid black;
    width:70px;
    text-align: center;
}

.controls{
    float: right;
}





table.table-colstriped tr td:nth-child(odd){
    background-color:#eeeeee;
}




#header-fixed{ 
    position: fixed; 
    top: 0px;
    display:none;
}


#progress {
    display: none;
    margin-top: 15px;
    font-size: 30px;
    color: maroon;
}
.bar {
    height: 18px;
    background: green;
}