<p>&nbsp;</p>

<form action="" method="post">
<input type="hidden" name="saveaccess" value="1">

<table class="table table-hover table-condensed table-striped" style="width:1%;">

<tr>
    <th>Название модуля</th>
    <th>Просмотр</th>
    <th>Изменение</th>
</tr>

{row}
    <tr>
        <td style="white-space:nowrap;">{title}&nbsp;</td>
        <td style="text-align:center;">
            <input type="hidden" name="read[{id}]" value="0">
            <input type="checkbox" name="read[{id}]" value="1" {readcheck}>
        </td>
        <td style="text-align:center;">
            <input type="hidden" name="edit[{id}]" value="0">
            <input type="checkbox" name="edit[{id}]" value="1" {editcheck}>
        </td>
    </tr>
{/row}

</table>

<button type="submit" class="btn btn-default">сохранить</button>

</form>