

<script>
var prc_qiwi = 0.05;
var prc_sodexo = 0.04;
$(document).ready(function(){
    
    var spend = $("#spendbalance").val();
    var vQiwi = spend - (spend * prc_qiwi);
    var vSodexo = spend - (spend * prc_sodexo);
    $("#qiwi").val(vQiwi);
    $("#sodexo").val(vSodexo);
    
    $("#spendbalance").change(function(ev){
        var spend = $(this).val();
        var vQiwi = spend - (spend * prc_qiwi);
        var vSodexo = spend - (spend * prc_sodexo);
        $("#qiwi").val(vQiwi);
        $("#sodexo").val(vSodexo);
    });
});
</script>

<form action="" method="post">
<input class="formItem oneItem" type="hidden" name="moneySubmit" value="1">

<hr>
<h4 style="color:maroon;">Электронная дебетовая карта</h4>

<div>Минимальная сумма заказа 500 баллов. Обращаем Ваше внимание, что при выборе данного Приза поставщиком услуг взимается комиссия.</div>

<br>

<p>    
<input id="sodexoRadio" type="radio" name="spendoperator" value="sodexo" {spendoperator_sodexo}>
Sodexo <b> - получить на счёт: 
<input class="clearItem" type="text" name="sodexo" id="sodexo" value="{sodexo}" readonly="true" style="border:0px;"></b>
</p>

<p>
<input id="qiwiRadio" type="radio" name="spendoperator" value="qiwi" {spendoperator_qiwi}>
Qiwi <b> - пополнить qiwi кошелёк: <input class="clearItem" type="text" name="qiwi" id="qiwi" value="{qiwi}" readonly="true" style="border:0px;"></b>
</p>

Сколько бонусных баллов вы хотите потратить?
<select name="spendbalance" id="spendbalance" class="formItem oneItem chosen">
    {spendoptions}
</select>
<input type="submit" class="submit" value="перевести">

</form>

<hr>